# Python 101

# AUTHOR

In [ ]:
# Assoc. Prof. Dr. Piyabute Fuangkhon
# Department of Digital Business Management
# Martin de Tours School of Management and Economics
# Assumption University
# Update: 01/03/2024

# HELLO WORLD

In [ ]:
# Comments in Python

# Enter a symbol # at the beginning of any line to make it a comment
# For example, the following line is a comment:
# Type print('Hello World')

# When you remove the # symbol, the line becomes executable code
# Press Enter to enter a new line
# Press Shift+Enter to run each block of code

# Let's demonstrate it with a simple print statement
print('Hello World')  # This line is not a comment and will be executed

# MODULE 1 - DATA TYPE

## DATA TYPE

In [ ]:
# Python Data Types

# Python supports six major data types:

# 1. Number
# 2. String
# 3. List** `[ Bracket ]` - Mutable
# 4. Tuple `( Parenthesis )` - Immutable
# 5. Dictionary `{ Braces }`
# 6. Set**

# List
# - General purpose
# - Most widely used data structure
# - Can grow and shrink in size as needed
# - Sequence type
# - Sortable

# Tuple
# - Immutable (cannot be changed after creation)
# - Useful for fixed data
# - Faster than lists
# - Sequence type

# Dictionary
# - Consists of key/value pairs
# - Acts like an associative array, similar to Java's HashMap
# - Unordered

# Set
# - Stores non-duplicate items
# - Provides very fast access compared to lists
# - Supports mathematical set operations like union and intersection
# - Unordered

# For more Python tips and tricks, you can visit [this link](https://arilamstein.com/blog/2020/04/22/using-python-to-cheat-at-scrabble/).

## ARTIHMETIC

In [ ]:
# Introduction to Basic Arithmetic Operations in Python

# Step 1: Create two variables and assign values to them
a = 100  # Assign 100 to the variable 'a'
b = 9    # Assign 9 to the variable 'b'

# Step 2: Perform Basic Arithmetic Operations
output_add = a + b   # Addition
output_sub = a - b   # Subtraction
output_mul = a * b   # Multiplication
output_divi = a / b  # Division
output_div = a // b  # Integer Division (floor division)
output_mod = a % b   # Modulus (remainder)
output_exp = a ** b  # Exponentiation

# Step 3: Print the Results

# Print individual variables
print('Variable a =', a)
print('Variable b =', b)

# Print the results of arithmetic operations
print('a + b =', output_add)    # Addition
print('a - b =', output_sub)    # Subtraction
print('a + b =', output_add, ', a - b =', output_sub)  # Printing multiple results in one line

# Print multiplication and division results without extra spaces
print('a × b =', output_mul)    # Multiplication
print('a ÷ b =', output_divi)   # Division

# Print division results (integer division and modulus)
print('a div b =', output_div)  # Integer Division (floor division)
print('a mod b =', output_mod)  # Modulus (remainder)

# Print the result of exponentiation
print('a ^ b =', output_exp)    # Exponentiation

# Formatted string literal
print(f"a ^ b = {output_exp}")    # Exponentiation

In [ ]:
# Assigning Numbers to Multiple Variables in a Single Statement

# Step 1: Assign values to variables a and b
a, b = 1, 2  # Assign 1 to variable 'a' and 2 to variable 'b'

# Step 2: Perform Arithmetic Operations
# Calculate the sum of a and b and assign it to variable c
c = a + b

# Calculate the difference of a and b and assign it to variable d
d = a - b

# Step 3: Print the Results

# Print the values of variables c and d
print('Value of c =', c)
print('Value of d =', d)

In [ ]:
# Printing Floating-Point Numbers in Various Formats

# Step 1: Define floating-point variables
a = 3.4567
b = 4
c = a + b

# Step 2: Print in Different Formats

# Default formatting: Print all decimal points in the default order (as is)
print('a → b → c: {} + {} = {}'.format(a, b, c))  # Default formatting

# Specifying the order of variables: Print numbers in a specific order
print('b → a → c: {1} + {0} = {2}'.format(a, b, c))  # Specifying the order of variables

# Formatting with two decimal points: Print numbers with a specific number of decimal points (0 = actual decimal digits, 2 = two decimal points)
print('a → b → c: {:0.2f} + {:0.2f} = {:0.2f}'.format(a, b, c))  # Formatting with two decimal points

# Formatting with three decimal points: Print numbers in a specific order with a specific number of decimal points
print('b → a → c: {1:0.3f} + {0:0.3f} = {2:0.3f}'.format(a, b, c))  # Formatting with three decimal points

## DATA TYPE - STRING

In [3]:
# Working with Strings and Concatenation

# Step 1: Assign strings to variables
a = 'Digital'
b = 'Business'

# Step 2: Concatenate Strings and Print the Results

# Concatenate two strings without a separator
c = a + b
print('Concatenation without separator:')
print(c)                        # Output: 'DigitalBusiness'
print(a, b)                     # Output: 'Digital Business'
print(a, b, sep='')             # Output: 'DigitalBusiness'
print('c   = ', c, sep='')      # Output: 'c   = DigitalBusiness'
print('a+b = ', a + b, sep='')  # Output: 'a+b = DigitalBusiness'

# Concatenate two strings with a space separator
c = a + ' ' + b
print('\nConcatenation with space separator:')
print(c)                        # Output: 'Digital Business'
print(a, b)                     # Output: 'Digital Business'
print('c   = ', c, sep='')      # Output: 'c   = Digital Business'
print('a+b = ', a + b, sep='')  # Output: 'a+b = Digital Business'

Concatenation without separator:
DigitalBusiness
Digital Business
DigitalBusiness
c   = DigitalBusiness
a+b = DigitalBusiness

Concatenation with space separator:
Digital Business
Digital Business
c   = Digital Business
a+b = DigitalBusiness

In [5]:
# Printing a String Variable with Additional Text

# Step 1: Define string variables
fname = 'Piyabute'
lname = 'Fuangkhon'

# Step 2: Print the Name in Different Formats

# Format 1: Using multiple print statements to display the name
print('Format 1: My name is', fname, lname)

# Format 2: Concatenating variables and removing spaces with 'sep' parameter
print('Format 2: My name is ', fname, ' ', lname, sep='')

# Format 3: Using string formatting with curly braces {}
print('Format 3: My name is {} {}'.format(fname, lname))

# Format 4: Using string formatting with indices {0} and {1}
print('Format 4: My name is {1} {0}'.format(fname, lname))

# Adding a period at the end of the name

# Format 5: Using multiple print statements to display the name with a period
print('Format 5: My name is', fname, lname, '.')

# Format 6: Concatenating variables and removing spaces with 'sep' parameter, and adding a period
print('Format 6: My name is ', fname, ' ', lname, '.', sep='')

# Format 7: Using string formatting with curly braces {} and adding a period
print('Format 7: My name is {} {}.'.format(fname, lname))

# Format 8: Using string formatting with indices {0} and {1}, and adding a period
print('Format 8: My name is {1} {0}.'.format(fname, lname))

Format 1: My name is Piyabute Fuangkhon
Format 2: My name is Piyabute Fuangkhon
Format 3: My name is Piyabute Fuangkhon
Format 4: My name is Fuangkhon Piyabute
Format 5: My name is Piyabute Fuangkhon .
Format 6: My name is Piyabute Fuangkhon.
Format 7: My name is Piyabute Fuangkhon.
Format 8: My name is Fuangkhon Piyabute.

In [ ]:
# Removing Whitespace from Strings

# Step 1: Define string variables with whitespaces
a = '    Digital     '
b = 'Business'

# Step 2: Print the original strings and their concatenation
print('Original strings and concatenation:')
print('a          =', a)      # Output: '    Digital     '
print('b          =', b)      # Output: 'Business'
print('a+b        =', a + b)  # Output: '    Digital     Business'

# Step 3: Remove Whitespaces

# Remove all whitespaces (leading and trailing)
c = a.strip()
print('\na.strip() + b  =', c + b)  # Output: 'DigitalBusiness'

# Remove trailing whitespaces
c = a.rstrip()
print('a.rstrip() + b =', c + b)     # Output: '    DigitalBusiness'

# Remove leading whitespaces
c = a.lstrip()
print('a.lstrip() + b =', c + b)     # Output: 'Digital     Business'

In [7]:
# Finding the Location of a Specific Term in a String

# Step 1: Define the input string
message = 'Harry Potter is a series of seven fantasy novels written by British author, J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry.'

# Step 2: Find the location of the term 'fantasy' in the string
location = message.find('fantasy')

# Step 3: Print the result
print("'fantasy' is found at the location", location)  # Output: 'fantasy' is found at the location 34, starting from 0

# Step 4: Find the location of the term 'fantastic' in the string
location = message.find('fantastic')

# Step 5: Print the result
print("'fantastic' is found at the location", location, "(Location -1 means 'Not Found')")  # Output: 'fantasy' is found at the location 34, startimg from 0

'fantasy' is found at the location 34
'fantastic' is found at the location -1 (Location -1 means 'Not Found')

In [ ]:
# Counting the Number of Occurrences of a Keyword in a String

# Step 1: Define the input string
message = 'Harry Potter is a series of seven fantasy novels written by British author, J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry.'

# Step 2: Count the number of occurrences of the keyword 'novel' in the string
count = message.count('novel')

# Step 3: Print the result
print("'novel' appears", count, 'times')  # Output: 'novel' appears 2 times

# Step 4: Count the number of occurrences of the keyword 'novelty' in the string
count = message.count('novelty')

# Step 5: Print the result
print("'novelty' appears", count, 'times')  # Output: 'novelty' appears 0 time

In [ ]:
# Converting a String to Uppercase

# Step 1: Define the input string
message = 'Harry Potter is a series of seven fantasy novels written by British author, J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry.'

# Step 2: Convert the string to uppercase
message_upper = message.upper()

# Step 3: Print the original and uppercase strings
print('Original message:')
print('message         =', message)        # Output: Original string
print('\nUppercase message:')
print('message.upper() →', message_upper)  # Output: Uppercase string

In [ ]:
# Converting a String to Lowercase

# Step 1: Define the input string
message = 'Harry Potter is a series of seven fantasy novels written by British author, J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry.'

# Step 2: Convert the string to lowercase
message_lower = message.lower()

# Step 3: Print the original and lowercase strings
print('Original message:')
print('message         =', message)        # Output: Original string
print('\nLowercase message:')
print('message.lower() →', message_lower)  # Output: Lowercase string

In [ ]:
# Replacing a Character in a String

# Step 1: Define the input string
message = 'piyabutefng@au.edu'

# Step 2: Replace the '@' character with ' at ' in the string
message_new = message.replace('@', ' at ')

# Step 3: Print the original and modified strings
print('Original message:')
print('message                      =', message)  # Output: Original string
print('\nModified message:')
print('message.replace("@", " at ") →', message_new)  # Output: Modified string

## DATA TYPE - LIST [Square Bracket]

In [ ]:
# https://www.w3schools.com/python/python_lists.asp

In [ ]:
# Create a List and Read Specific Elements

# Step 1: Create a list
a = [101, 102, 103, 104, 105]

# Step 2: Print the entire list
print('a       =', a)

# Step 3: Read the first element of the list (The first element is at index 0)
print('a[0]    →', a[0])

# Step 4: Read the second element of the list (The second element is at index 1)
print('a[1]    →', a[1])

# Step 5: Print the data type of the variable (It should show 'list')
print('type(a) →', type(a))

In [ ]:
# Assign Values with Different Types to a List

# Step 1: Create a list with values of different types
a = [101, 'Hello', True]

# Step 2: Print the list
print('a       =', a)

# Step 3: Read the first element of the list (The first element is at index 0)
print('a[0]    →', a[0])

# Step 4: Read the second element of the list (The second element is at index 1)
print('a[1]    →', a[1])

# Step 5: Print the data type of the variable (It should show 'list')
print('type(a) →', type(a))

In [ ]:
# Find the Index of a Specific Element (Numerical Type)

# Step 1: Create a list
a = [101, 102, 103, 104, 105]

# Step 2: Print the list
print('a            =', a)

# Step 3: Find the index of the element 103 (The first element is at index 0, not 1)
print('a.index(103) →', a.index(103))

# Step 4: Find the index of the element 106 (This value does not exist!)
#print('a.index(106) →', a.index(106)) # Need to handle the error explicitly

In [ ]:
# Find if a Specific Value is in a List

# Step 1: Create a list
a = [101, 102, 103, 104, 105]

# Step 2: Print the list
print('a           =', a)

# Step 3: Check if 103 is in the list
print('103 is in a →', 103 in a)

# Step 4: Check if 106 is in the list
print('106 is in a →', 106 in a)

In [ ]:
# Find the Index of a Specific Element (String Type)

# Step 1: Create a list of strings
a = ['A1', 'B1', 'C1', 'D1', 'E1']

# Step 2: Print the list
print('a             =', a)

# Step 3: Find the index of 'D1' (The first element is at index 0, not 1)
print("a.index('D1') →", a.index('D1'))

# Step 4: Find the index of 'F1' (This value does not exist!)
#print("a.index('F1') →", a.index('F1')) # Need to handle the error explicitly

In [ ]:
# Change the Value of an Element in a List

# Step 1: Create a list
a = [101, 102, 103, 104, 105]

# Step 2: Print the original list
print('a        =', a)

# Step 3: Change the second element of the list to 999
a[1] = 999
print('a[1]=999 →', a)

In [ ]:
# Challenge
# Replace the value of a specified number with 999

In [ ]:
# Add a New Element to the End of the List

# Step 1: Create a list
a = [101, 102, 103, 104, 105]

# Step 2: Print the original list
print('a             =', a)

# Step 3: Append the list with the value 999
a.append(999)
print('a.append(999) →', a)

In [ ]:
# Insert an Element into a List at a Specific Location

# Step 1: Create a list
a = [101, 102, 103, 104, 105]

# Step 2: Print the original list
print('Original List                     :', a)

# Step 3: Insert the value 888 at the third index
a.insert(2, 888)  # The insert method inserts 888 at index 2 (third position).
print('Insert 888 at index 2             :', a)

# Step 4: Insert the value 999 at the second last position (negative index begins from the end)
a.insert(-1, 999)  # The negative index -1 represents the second last position.
print('Insert 999 at second last position:', a)

In [ ]:
# Delete a Specific Element from a List

# Step 1: Create a list
a = [101, 102, 103, 104, 105, 106, 107, 108, 109, 110]
print('Original list (a):', a)

# Step 2: Delete the value 103 using a.remove()
a.remove(103)
print('After removing 103 (a.remove(103)):', a)

# Step 3: Delete the index 1 (Delete the value 102) using del
del a[1]
print('After deleting index 1 (del a[1]):', a)

# Step 4: Delete the last index (Delete the value 110) using del
del a[-1]
print('After deleting the last index (del a[-1]):', a)

# Step 5: Delete the index 1 (Delete the value 104) using a.pop(1)
a.pop(1)
print('After popping index 1 (a.pop(1)):', a)

# Step 7: Delete the last index (Delete the value 109) using a.pop(-1)
a.pop(-1)
print('After popping the last index (a.pop(-1)):', a)

# Step 8: Delete the last index (Delete the value 108) using a.pop() and store it in variable a_pop
a_pop = a.pop()

print('After popping the last index and storing it in b (a_pop = a.pop()):', a, '( a_pop =', a_pop,')')

In [ ]:
# Challenge
# Remove all elements of the specified value in the list

In [ ]:
# Clear a List and Delete a List

# Step 1: Create a list
a = [101, 102, 103, 104, 105]
print('Original list (a):', a)

# Step 2: Clear all elements in the list (a becomes an empty list)
a.clear()
print('After clearing the list (a.clear()):', a)

# Step 3: Delete the list 'a' itself
del a

# Step 4: Check if 'a' exists in the local namespace
if 'a' in locals():
    print("'a' still exists in the local namespace.")
else:
    print("'a' no longer exists in the local namespace.")

In [ ]:
# Unpack a list into variables

# Step 1: Create a list 'a'
a = [101, 102, 103, 104, 105]
print('a  =', a)

# Step 2: Unpack the list 'a' into 5 variables
[a1, a2, a3, a4, a5] = a
print('[a1, a2, a3, a4, a5] = a')
print('a1 =', a1)
print('a2 =', a2)
print('a3 =', a3)
print('a4 =', a4)
print('a5 =', a5)

In [ ]:
# Loop a list

# Step 1: Create a list of integers
a = [101, 102, 103, 104, 105]
print('a    =', a)

# Step 2: Loop through the elements of the list 'a' using the 'enumerate' function
# 'enumerate' provides both the index ('i') and the element ('x') in each iteration
for i, x in enumerate(a):
#    print('a[{}] = {}'.format(i, x))
    print(f'a[{i}] = {x}')

In [ ]:
# Sort a list

# Step 1: Create a list of integers
a = [101, 103, 102, 105, 104]

# Step 2: Display the original list
print('Original list (a)         :', a)

# Step 3: Sort the list in ascending order
a.sort()
print('Sorted in ascending order :', a)

# Step 4: Sort the list in descending order
a.sort(reverse=True)
print('Sorted in descending order:', a)

In [ ]:
# Convert the list to uppercase

# Step 1: Create a list of strings
a = ['Pineapple', 'Banana', 'Orange', 'Pumpkin', 'Onion']

# Step 2: Display the original list
print('Original list (a):', a)

# Step 3: Convert each element in the list to uppercase using a for loop
for i in range(len(a)): # len(a) = 5, range(5) = [0,1,2,3,4]
    a[i] = a[i].upper()

# Step 4: Display the modified list
print('Uppercase list (a):', a)

In [ ]:
# Convert the list to lowercase

# Step 1: Create a list of strings
a = ['Pineapple', 'Banana', 'Orange', 'Pumpkin', 'Onion']

# Step 2: Display the original list
print('Original list (a):', a)

# Step 3: Convert each element in the list to lowercase using a for loop
for i in range(len(a)):
    a[i] = a[i].lower()

# Step 4: Display the modified list in lowercase
print('Lowercase list (a):', a)

In [9]:
# Sort a list (String)

# Step 1: Create a list of strings
a = ['Pineapple', 'Banana', 'Orange', 'Pumpkin', 'onion']

# Step 2: Display the original list
print('a                                   =', a)

# Step 3: Sort a list (case sensitive) (Notice 'onion' and 'Orange')
# ASCII A..Za..z
a.sort()
print('a.sort()                            →', a)

# Step 4: Sort a list (case insensitive) (Notice 'onion' and 'Orange')
a.sort(key=str.lower)
print('a.sort(key=str.lower)               →', a)

# Step 5: Sort a list in descending order (case insensitive) (Notice 'onion' and 'Orange')
a.sort(key=str.lower, reverse=True)
print('a.sort(key=str.lower, reverse=True) →', a)

a                                   = ['Pineapple', 'Banana', 'Orange', 'Pumpkin', 'onion']
a.sort()                            → ['Banana', 'Orange', 'Pineapple', 'Pumpkin', 'onion']
a.sort(key=str.lower)               → ['Banana', 'onion', 'Orange', 'Pineapple', 'Pumpkin']
a.sort(key=str.lower, reverse=True) → ['Pumpkin', 'Pineapple', 'Orange', 'onion', 'Banana']

In [ ]:
# Reverse the order of a list (No sorting!)

# Step 1: Create a list of strings
a = ['Pineapple', 'Banana', 'Orange', 'Pumpkin', 'onion']

# Step 2: Display the original list
print('a           =', a)

# Step 3: Reverse the order of the list
a.reverse()
print('a.reverse() →', a)

In [ ]:
# Copy a list

# Step 1: Create a list 'a'
a = [1, 2, 3, 4, 5]
print('a            =', a)

# Step 2: Copy 'a' to 'b' by values (Changing 'a' does not change 'b')
# b = a[:] # Python 2
# b = list(a) # Python 3
b = a.copy() # Python 3
print('b = a.copy() →', b)

# Step 3: Copy 'a' to 'c' by pointer (Changing 'a' also changes 'c')
c = a # Python 3
print('c = a        →', a)

# Step 4: Change the value of the first element of 'a'
a[0] = 999
print('a[0]=999     → 999')
print('a            =', a) # 'a' and 'c' are the same list
print('b            =', b) # 'b' is a different list
print('c            =', c) # 'a' and 'c' are the same list

In [ ]:
# Join two lists

# Step 1: Create two lists 'a' and 'b'
a = [101, 102, 103, 104, 105]
b = [201, 202, 203, 204]
print('a            =', a)
print('b            =', b)

# Step 2: Join 'a' with 'b' into 'c'
c = a + b
print('c = a+b      →', c)

# Step 3: Join 'a' with 'b' (append 'a' with each element of 'b')
a.extend(b)
print('a.extend(b)  →', a)

# Step 4: Join 'a' with the whole 'b' as a new element of 'c'
c = a.copy()
print('c = a.copy() →', c)
c.append(b)
print('c.append(b)  →', c)

# Step 5: Double the list 'b'
d = b * 2
print('d = b*2      →', d)

# Step 6: Duplicate 'b' by concatenating it with itself
e = b + b
print('e = b+b      →', e)

# Step 7: Duplicate 'b' using the *= operator
f = b.copy()
f *= 2
print('f *= 2       →', f)

# Step 8: Triple the list 'b'
g = b.copy()
g *= 3
print('g *= 3       →', g)

# DATA TYPE - LIST [Square Bracket] - STRING

In [ ]:
# Tokenize terms - Extract words from a string into a list

# Step 1: Define a string 'a'
a = 'You are the salt of the earth and the light of the world!'
print('a             =', a)

# Step 2: Extract words from 'a' by splitting it using whitespace
b = a.split()
print('b = a.split() →', b)  # Tokens
print("'earth' in b  →", 'earth' in b)
print('type(a)       →', type(a))
print('type(b)       →', type(b))

In [ ]:
# Tokenize terms - Extract words from a string into a list by a specific keyword

# Step 1: Define a CSV-like string 'a'
a = '430359,Piyabute,Fuangkhon,Full-time Lecturer,Digital Business Management,School of Management'
print('a              =', a)

# Step 2: Extract words by ','
b = a.split(',')  # Tokens (whitespaces are included)
print('a.split(',')     →', b)

# Step 3: Extract words by ' , ' (whitespaces do matter!)
c = a.split(' , ')
print("a.split(' , ') →", c)  # Tokens

In [ ]:
# Split a string into a list and join the list elements (Replace , with |)

# Step 1: Define a CSV-like string 'a'
a = '430359,Piyabute,Fuangkhon,Full-time Lecturer,Digital Business Management,School of Management'
print('a            =', a)

# Step 2: Split the string into a list using ','
b = a.split(',')
print("a.split(',') →", b)  # Tokens

# Step 3: Join the list elements, separated by '|'
c = '|'.join(b)
print("'|'.join(b)  →", c)

In [ ]:
# Print a specific element in the list

# Step 1: Define a list 'a'
a = [9, 1, 8, 2, 7, 3, 6, 4, 5]
print('a            =', a)

# Step 2: Print the first element in the list
print('a[0]         →', a[0])  # the first element

# Step 3: Print the last element in the list
a = ['Physics', 'Chemistry', 91, 100]  # Mixed strings with numbers
print('a            =', a)
print('a[0]         →', a[0])  # the first element
print('a[-1]        →', a[-1])  # the last element

In [ ]:
# Print consecutive elements in the list (The first element is at index 0, not 1)

# Step 1: Define a list 'a'
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print('a        =', a)

# Step 2: Print elements starting from index 1 to the end
print('a[1:]    →', a[1:])

# Step 3: Print elements starting from index 2 to the end
print('a[2:]    →', a[2:])

# Step 4: Print elements starting from index 1 and stopping before index 3
print('a[1:3]   →', a[1:3])

# Step 5: Print elements starting from index 0 and ending at the second last index
print('a[:-1]   →', a[:-1])

# Step 6: Print elements starting from index 0 and ending at the third last index
print('a[:-2]   →', a[:-2])

# Step 7: Print elements starting from the last index to the end
print('a[-1:]   →', a[-1:])

# Step 8: Print elements starting from the second last index to the end
print('a[-2:]   →', a[-2:])

# DATA TYPE - LIST [Square Bracket] - MATH

In [11]:
# Math on a list

# Step 1: Define a list 'a'
a = [101, 102, 103, 104, 105, 105]
print('a            =', a)

# Step 2: Calculate the summation of all elements in the list using sum()
print('sum(a)       →', sum(a))

# Step 3: Find the minimum value in the list using min()
print('min(a)       →', min(a))

# Step 4: Find the maximum value in the list using max()
print('max(a)       →', max(a))

# Step 5: Get the number of elements in the list using len()
print('len(a)       →', len(a))

# Step 6: Count the number of occurrences of a specific value (e.g., count 105)
print('a.count(105) →', a.count(105))

a            = [101, 102, 103, 104, 105, 105]
sum(a)       → 620
min(a)       → 101
max(a)       → 105
len(a)       → 6
a.count(105) → 2

# DATA TYPE - LIST [Square Bracket] - MATH numpy

In [1]:
# Math on a list

# Step 1: Import the necessary libraries
import numpy
from scipy import stats

# Step 2: Define a list 'a'
a = [101, 102, 103, 104, 105, 105, 105]
print('a                    =', a)

# Step 3: Calculate the mean of the list using numpy.mean()
print('numpy.mean(a)        →', numpy.mean(a))

# Step 4: Calculate the median of the list using numpy.median()
print('numpy.median(a)      →', numpy.median(a))

# Step 5: Calculate the mode of the list using stats.mode()
mode_result = stats.mode(a)
print('stats.mode(a)        →', mode_result)
print('stats.mode(a)[0]     →', mode_result[0])  # Mode value(s)
print('stats.mode(a)[1]     →', mode_result[1])  # Number of occurrences

a                    = [101, 102, 103, 104, 105, 105, 105]
numpy.mean(a)        → 103.57142857142857
numpy.median(a)      → 104.0
stats.mode(a)        → ModeResult(mode=105, count=3)
stats.mode(a)[0]     → 105
stats.mode(a)[1]     → 3

In [ ]:
# List Methods

# append() Adds an element at the end of the list
# clear() Removes all the elements from the list
# copy() Returns a copy of the list
# count() Returns the number of elements with the specified value
# extend() Add the elements of a list (or any iterable), to the end of the current list
# index() Returns the index of the first element with the specified value
# insert() Adds an element at the specified position
# pop() Removes the element at the specified position
# remove() Removes the item with the specified value
# reverse() Reverses the order of the list
# sort() Sorts the list

In [ ]:
# List Exercise
# https://www.w3schools.com/python/exercise.asp?filename=exercise_lists1

## DATA TYPE - TUPLE ( Parenthesis )

In [ ]:
# https://www.w3schools.com/python/python_tuples.asp

# Tuple is unchangeable or immutable. To change a tuple, convert a tulple to a list and convert it back to a tuple

In [ ]:
# Create a tuple and read a specific element

# Step 1: Create a tuple 'a'
a = (101, 102, 103, 104, 105)

# Step 2: Print the tuple
print('a       =', a)

# Step 3: Read the second element of the tuple (The first element is at index 0, not 1)
print('a[1]    →', a[1])

# Step 4: Print the type of the variable 'a'
print('type(a) →', type(a))

In [ ]:
# Assign values with different types to a tuple

# Step 1: Create a tuple 'a' with values of different types
a = (101, 'Hello', True)
print('a       =', a)

# Step 2: Print the type of the variable 'a'
print('type(a) →', type(a))

In [ ]:
# Find the index of a specific element

# Step 1: Create a tuple 'a'
a = (101, 102, 103, 104, 105)
print('a            =', a)

# Step 2: Find the index of the element 103 (The first element is at index 0, not 1)
print('a.index(103) →', a.index(103))

In [ ]:
# Find the index of a specific string element

# Step 1: Create a tuple 'a'
a = ('A1', 'B1', 'C1', 'D1', 'E1')
print('a             =', a)

# Step 2: Find the index of the element 'D1' (The first element is at index 0, not 1)
print("a.index('D1') →", a.index('D1'))

In [ ]:
# Find if a specific value is in a tuple

# Step 1: Create a tuple 'a'
a = (101, 102, 103, 104, 105)
print('a        =', a)

# Step 2: Check if the value 103 is in the tuple 'a'
print('103 in a =', 103 in a)

# Step 3: Check if the value 106 is in the tuple 'a'
print('106 in a =', 106 in a)

In [ ]:
# Change the value of the element in the tuple

# Step 1: Create a tuple 'a'
a = (101, 102, 103, 104, 105)

# Setp 2: Assign 999 to the first element
a[0] = 999

In [ ]:
# Change the value of an element of a tuple
# CANNOT change the values of an element of a tuple. Alternatively, convert a tuple into a list and convert it back to a tuple.

# Step 1: Create a tuple 'a'
a = (101, 102, 103, 104, 105)
print('a        =', a)

# Step 2: Convert the tuple 'a' to a list 'b'
b = list(a)
print('list(a)  →', b)
# print('type(a)  →', type(a))
# print('type(b)  →', type(b))

# Step 3: Change the second element of the list 'b' to 999
print('b        =', b)
b[1] = 999
print('b[1]=999 →', b)

# Step 4: Convert the list 'b' back to a tuple 'a'
a = tuple(b)
print('tuple(b) →', a)

In [ ]:
# Add a new element to a tuple
# CANNOT add a new element to a tuple. Alternatively, convert a tuple into a list and convert it back to a tuple.

# Step 1: Create a tuple 'a'
a = (101, 102, 103, 104, 105)
print('a             =', a)

# Step 2: Convert the tuple 'a' to a list 'b'
b = list(a)
print('list(a)       →', b)

# Step 3: Append the list 'b' with the value 999
print('b             =', b)
b.append(999)
print('b.append(999) →', b)

# Step 4: Convert the list 'b' back to a tuple 'a'
a = tuple(b)
print('tuple(b)      →', a)

In [ ]:
# Insert a tuple with a new element
# CANNOT insert a tuple with a new element. Alternatively, convert a tuple into a list and convert it back to a tuple.

# Step 1: Create a tuple 'a'
a = (101, 102, 103, 104, 105)
print('a                =', a)

# Step 2: Convert the tuple 'a' to a list 'b'
b = list(a)
print('list(a)          →', b)

# Step 3: Insert the value 888 at the third index
print('b                =', b)
b.insert(2, 888)
print('b.insert(2,888)  →', b)

# Step 4: Insert the value 999 at the second last position
b.insert(-1, 999)
print('b.insert(-1,999) →', b)

# Step 5: Convert the list 'b' back to a tuple 'a'
a = tuple(b)
print('tuple(b)         →', a)

In [ ]:
# Delete a specific element from a tuple
# CANNOT delete a specific element from a tuple. Alternatively, convert a tuple into a list and convert it back to a tuple.

# Step 1: Create a tuple 'a'
a = (101, 102, 103, 104, 105, 106, 107, 108, 109, 110)
print('a              =', a)

# Step 2: Convert the tuple 'a' to a list 'b'
b = list(a)
print('list(a)        →', b)

# Step 3: Delete the element 103 from the list 'b'
print('b              =', b)
b.remove(103)
print('b.remove(103)  →', b)

# Step 4: Delete the element at index 1 (Remove 102)
print('b              =', b)
del b[1]
print('del b[1]       →', b)

# Step 5: Delete the last element (Remove 110)
print('b              =', b)
del b[-1]
print('del b[-1]      →', b)

# Step 6: Delete the element at index 1 again (Remove 104)
print('b              =', b)
b.pop(1)
print('b.pop(1)       →', b)

# Step 7: Delete the last element again (Remove 109)
print('b              =', b)
b.pop(-1)
print('b.pop(-1)      →', b)

# Step 8: Convert the list 'b' back to a tuple 'a'
a = tuple(b)
print('tuple(b)       →', a)

In [ ]:
# Clear a tuple and delete a tuple
# Cannot clear a tuple, but delete a tuple

# Step 1: Create a tuple 'a'
a = (101, 102, 103, 104, 105)
print('a =', a)

# Step 2: Delete the tuple 'a'
del a

# Step 3: Check if 'a' exists in the local or global namespace
if 'a' in locals():  # You can also use 'globals()' to check the global namespace
    print("'a' does exist")
else:
    print("'a' does not exist")

In [ ]:
# Unpack a tuple into variables

# Step 1: Create a tuple 'a'
a = (101, 102, 103, 104, 105)
print('a  =', a)

# Step 2: Unpack the tuple 'a' into 5 variables
(a1, a2, a3, a4, a5) = a
print('(a1, a2, a3, a4, a5) = a')
print('a1 =', a1)
print('a2 =', a2)
print('a3 =', a3)
print('a4 =', a4)
print('a5 =', a5)

In [ ]:
# Loop a tuple

# Step 1: Create a tuple 'a'
a = (101, 102, 103, 104, 105)
print('a    =', a)

# Step 2: Loop through the elements of the tuple 'a' using 'enumerate'
# 'enumerate' provides both the index ('i') and the element ('x') in each iteration
for i, x in enumerate(a):
    print('a[{}] = {}'.format(i, x))

In [ ]:
# Sort a tuple
# CANNOT sort a tuple. Alternatively, convert a tuple into a list and convert it back to a tuple.

# Step 1: Create a tuple 'a'
a = (101, 103, 102, 105, 104)
print('a                    =', a)

# Step 2: Convert the tuple 'a' to a list 'b'
b = list(a)
print('list(a)              →', b)

# Step 3: Sort the list 'b' in ascending order
b.sort()
print('b.sort()             →', b)

# Step 4: Sort the list 'b' in descending order
b.sort(reverse=True)  # 'True' is case-sensitive
print('b.sort(reverse=True) →', b)

# Step 5: Convert the list 'b' back to a tuple 'a'
a = tuple(b)
print('tuple(b)             →', a)

In [ ]:
# Sort a tuple (String)

# Step 1: Create a tuple 'a' with strings
a = ('Pineapple', 'Banana', 'Orange', 'Pumpkin', 'onion')
print('a                                  =', a)

# Step 2: Convert the tuple 'a' to a list 'b'
b = list(a)
print('list(a)                            →', b)

# Step 3: Sort the list 'b' in ascending order (case-sensitive)
b.sort()
print('b.sort()                           →', b)

# Step 4: Sort the list 'b' in ascending order (case-insensitive)
b.sort(key=str.lower)
print('b.sort(key=str.lower)              →', b)

# Step 5: Sort the list 'b' in descending order (case-insensitive)
b.sort(key=str.lower, reverse=True)
print('b.sort(key=str.lower,reverse=True) →', b)

# Step 6: Convert the list 'b' back to a tuple 'a'
a = tuple(b)
print('tuple(b)                           →', a)

In [ ]:
# Convert the tuple to uppercase
# CANNOT convert the tuple to uppercase. Alternatively, convert a tuple into a list and convert it back to a tuple.

# Step 1: Create a tuple 'a' with strings
a = ('Pineapple', 'Banana', 'Orange', 'Pumpkin', 'onion')
print('a            =', a)

# Step 2: Convert the tuple 'a' to a list 'b'
b = list(a)
print('list(a)      →', b)

# Step 3: Convert each element in the list 'b' to uppercase using a for loop
for i in range(len(b)):
    b[i] = b[i].upper()
print('b[i].upper() →', b)

# Step 4: Convert the list 'b' back to a tuple 'a'
a = tuple(b)
print('tuple(b)     →', a)

In [ ]:
# Convert the tuple to lowercase
# CANNOT convert the tuple to lowercase. Alternatively, convert a tuple into a list and convert it back to a tuple.

# Step 1: Create a tuple 'a' with strings
a = ('Pineapple', 'Banana', 'Orange', 'Pumpkin', 'onion')
print('a            =', a)

# Step 2: Convert the tuple 'a' to a list 'b'
b = list(a)
print('list(a)      →', b)

# Step 3: Convert each element in the list 'b' to lowercase using a for loop
for i in range(len(b)):
    b[i] = b[i].lower()
print('b[i].lower() →', b)

# Step 4: Convert the list 'b' back to a tuple 'a'
a = tuple(b)
print('tuple(b)     →', a)

In [ ]:
# Reverse the order of a tuple (No sorting!)
# CANNOT reverse the order of a tuple. Alternatively, convert a tuple into a list and convert it back to a tuple.

# Step 1: Create a tuple 'a' with strings
a = ('Pineapple', 'Banana', 'Orange', 'Pumpkin', 'onion')
print('a           =', a)

# Step 2: Convert the tuple 'a' to a list 'b'
b = list(a)
print('list(a)     →', b)

# Step 3: Reverse the order of the list 'b'
b.reverse()
print('b.reverse() →', b)

# Step 4: Convert the list 'b' back to a tuple 'a'
a = tuple(b)
print('tuple(b)    →', a)

In [ ]:
# Copy a tuple

# Step 1: Create a tuple 'a'
a = (101, 102, 103, 104, 105)
print('a =', a)

# Step 2: Copy the reference of 'a' to 'b' (both 'a' and 'b' point to the same tuple)
b = a
print('b =', b)

# Step 3: Change the value of the tuple 'a' by converting it to a list, modifying it, and converting it back to a tuple
a = list(a)
print('a =', a)
a[1] = 200
print('a =', a)

# Step 4: Convert the list 'a' back to a tuple 'a'
a = tuple(a)
print('a =', a)
print('b =', b)

In [ ]:
# Join two tuples

# Step 1: Create two tuples 'a' and 'b'
a = (101, 102, 103, 104, 105)
b = (201, 202, 203, 204)
print('a =', a)
print('b =', b)

# Step 2: Join tuple 'a' with tuple 'b' to create a new tuple 'c'
c = a + b
print('c =', c)

# Step 3: Double the tuple 'b' (repeat its elements)
d = b * 2
print('d =', d)

# Step 4: Triple the tuple 'b' (repeat its elements)
e = b
e *= 3
print('e =', e)

# DATA TYPE - TUPLE (Parenthesis) - MATH

In [13]:
# Math on a tuple

# Step 1: Create a tuple 'a' with integer values
a = (101, 102, 103, 104, 105, 105)
print('a            =', a)

# Step 2: Calculate the summation of elements in the tuple using 'sum()'
print('sum(a)       →', sum(a))

# Step 3: Find the minimum value in the tuple using 'min()'
print('min(a)       →', min(a))

# Step 4: Find the maximum value in the tuple using 'max()'
print('max(a)       →', max(a))

# Step 5: Determine the number of elements in the tuple using 'len()'
print('len(a)       →', len(a))

# Step 6: Count the number of occurrences of the term '105' in the tuple
print('a.count(105) →', a.count(105))

a            = (101, 102, 103, 104, 105, 105)
sum(a)       → 620
min(a)       → 101
max(a)       → 105
len(a)       → 6
a.count(105) → 2

In [ ]:
# Math on a tuple

# Step 1: Import the NumPy library
import numpy

# Create a tuple 'a' with integer values
a = (101, 102, 103, 104, 105, 105, 105)
print('a                    =', a)

# Step 2: Calculate the mean of elements in the tuple using 'numpy.mean()'
print('numpy.mean(a)        →', numpy.mean(a))

# Step 3: Calculate the median of elements in the tuple using 'numpy.median()'
print('numpy.median(a)      →', numpy.median(a))

# Step 4: Import the stats module from SciPy library
from scipy import stats

# Step 5: Calculate the mode of elements in the tuple using 'stats.mode()'
print('stats.mode(a)        →', stats.mode(a))

# Step 6: Access the maximum occurrence value from the mode result
print('stats.mode(a)[0]     →', stats.mode(a)[0])  # Max occurrence

# Step 7: Access the number of occurrences of the mode value
print('stats.mode(a)[1]     →', stats.mode(a)[1])  # No. of occurrences

In [ ]:
# Tuple Methods

# count() Returns the number of times a specified value occurs in a tuple
# index() Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
# Tuple Exercise
# https://www.w3schools.com/python/python_tuples_exercises.asp

## DATA TYPE - DICTIONARY { Braces }

In [ ]:
# https://www.w3schools.com/python/python_dictionaries.asp

# A dictionary is a list of keys. Each key is associated with a value.
# key:value is called element.
# Each key is separated from its value by a colon (:).
# The elements are separated by commas, and the whole thing is enclosed in curly braces.

In [1]:
# Create a dictionary and read a specific element

# Step 1: Create a dictionary 'a' with various key-value pairs
a = {'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True}

# Step 2: Print the entire dictionary 'a'
print('a             =', a)

# Step 3: Print the dictionary as a list of key-value pairs using 'items()'
print('a.items()     =', a.items())

# Step 4: Print the dictionary with one row per attribute
for key, value in a.items():
    print("key,':',value →", key, ':', value)

# Step 5: Print the first name of a student by accessing the 'fname' key
print("a['fname']    →", a['fname'])

# Step 6: Print the phone number of a student by accessing the 'phone' key
print("a['phone']    →", a['phone'])

# Step 7: Print the type of the variable 'a'
print('type(a)       →', type(a))

a             = {'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True}
a.items()     = dict_items([('sid', 6010001), ('fname', 'Piyabute'), ('lname', 'Fuangkhon'), ('phone', '027232236'), ('active', True)])
key,':',value → sid : 6010001
key,':',value → fname : Piyabute
key,':',value → lname : Fuangkhon
key,':',value → phone : 027232236
key,':',value → active : True
a['fname']    → Piyabute
a['phone']    → 027232236
type(a)       → <class 'dict'>

In [ ]:
# Create a dictionary from two lists

# Step 1: Create two lists 'a' and 'b' with keys and values respectively for the first dictionary
a = ['sid', 'fname', 'lname', 'phone', 'active']
b = ['6010001', 'Piyabute', 'Fuangkhon', '027232236', True]

# Create two lists 'a' and 'c' with keys and values respectively for the second dictionary
c = ['6010002', 'Robert', 'John', '027232237', False]

print('a              =', a)
print('b              =', b)
print('c              =', c)

# Step 2: Create the first dictionary 'd' by zipping 'a' and 'b'
# print('zip(a, b)       ',zip(a, b))
d = dict(zip(a, b))
print('dict(zip(a,b)) →', d)

# Step 3: Create the second dictionary 'e' by zipping 'a' and 'c'
e = dict(zip(a, c))
print('dict(zip(a,c)) →', e)

In [ ]:
# Create a dictionary from tuples

# Step 1: Create tuples 'a' through 'e', each containing a key-value pair
a = ('sid', 6010001)
b = ('fname', 'Piyabute')
c = ('lname', 'Fuangkhon')
d = ('phone', '027232236')
e = ('active', True)

print('a                 =', a)
print('b                 =', b)
print('c                 =', c)
print('d                 =', d)
print('e                 =', e)

# Step 2: Create a dictionary 'f' by passing a list of tuples
f = dict([a, b, c, d, e])
print('dict([a,b,c,d,e]) →', f)
print('type(f)           =', type(f))

# Step 3: Create a list 'g' containing the same tuples
g = [a, b, c, d, e]
print('[a,b,c,d,e]       =', g)
print('type(g)           =', type(g))

In [ ]:
# Create a dictionary - dict → tuple → dict # RECHECK!

# Step 1: Create a dictionary 'a' directly
a = {'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True}
print('a =', a)

# Step 2: Create a dictionary 'b' using the 'dict' constructor and passing another dictionary as an argument
b = dict({'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True})
print('b =', b)

In [ ]:
# Create a dictionary with multiple rows (records)

# Step 1: Create a dictionary 'a' with multiple records
a = {}

# Add the first record to 'a'
a[0] = {'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True}

# Add the second record to 'a'
a[1] = {'sid': 6010002, 'fname': 'Robert', 'lname': 'Downey', 'phone': '023004543', 'active': True}

# Add the third record to 'a'
a[2] = {'sid': 6010003, 'fname': 'Elon', 'lname': 'Musk', 'phone': '028888888', 'active': False}

# Step 2: Print the first record in 'a'
print('a[0]    =', a[0], '\n')  # \n is a new line escape sequence

# Print the second record in 'a'
print('a[1]    =', a[1], '\n')  # \n is a new line escape sequence

# Print the third record in 'a'
print('a[2]    =', a[2], '\n')  # \n is a new line escape sequence

# Step 3: Print the entire 'a' dictionary
print('a       =', a, '\n')  # \n is a new line escape sequence

# Step 4: Print the second row of a dictionary (record)
print('a[1]    =', a[1])
print("a[1]['fname'] =", a[1]['fname'])

In [ ]:
# List all the keys (attributes) in a dictionary

# Step 1: Create a dictionary 'a'
a = {'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True}

# Step 2: List all the keys in the dictionary 'a'
print('a.keys()   =', a.keys())

# Step 3: Iterate through the keys and print them
for x in a.keys():
    print(x)

In [ ]:
# List all the values in a dictionary

# Step 1: Create a dictionary 'a'
a = {'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True}

# Step 2: List all the values in the dictionary 'a'
print('a.values() =', a.values())

# Step 3: Iterate through the values and print them
for x in a.values():
    print(x)

In [ ]:
# List all the elements in a dictionary

# Step 1: Create a dictionary 'a'
a = {'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True}

# Step 2: Iterate through the key-value pairs and print them
for x, y in a.items():
    print(x, y)

In [ ]:
# Check if a key and a value do exist

# Step 1: Create a dictionary 'a'
a = {'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True}

# Step 2: Check if 'fname' key exists
findkey = 'fname'
if findkey in a.keys():
    print("'", findkey, "' in a.keys()      → Yes, '", findkey, "' is one of the keys in this dictionary.", sep="")
else:
    print("'", findkey, "' in a.keys()      → No, '", findkey, "' is NOT one of the keys in this dictionary.", sep="")

# Step 3: Check if 'Piyabute' value exists
findvalue = 'Piyabute'
if findvalue in a.values():
    print("'", findvalue, "' in a.values() → Yes, '", findvalue, "' is one of the values in this dictionary.", sep="")
else:
    print("'", findvalue, "' in a.values() → No, '", findvalue, "' is NOT one of the values in this dictionary.", sep="")

In [ ]:
# Find the index of a specific string element

In [ ]:
# Change the value of an element of a dictionary

# Step 1: Create a dictionary 'a'
a = {'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True}
print('a =', a)

# Step 2: Change the value of the 'active' key to 'False'
a['active'] = False
print("\na['active'] = False\n→", a)

# Step 3: Change the value of the 'phone' key to '023004543'
a.update({'phone': '023004543'})
print("\na.update({'phone':'023004543'})\n→", a)

In [ ]:
# Add a new element to a dictionary

# Step 1: Create a dictionary 'a'
a = {'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True}
print('a =', a)

# Step 2: Add a new element to the dictionary - 'address':'88 Moo 8 Bangna-Trad K.M.26'
a['address'] = '88 Moo 8 Bangna-Trad K.M.26'
print("\na['address'] = '88 Moo 8 Bangna-Trad K.M.26'\n→", a)

# Step 3: Add a new element to the dictionary - 'district':'Hua Mak'
a.update({'district': 'Hua Mak'})
print("\na.update({'district': 'Hua Mak'})\n→", a)

# Step 4: Update an existing element in the dictionary - 'district':'Bang Sao Thong'
a.update({'district': 'Bang Sao Thong'})
print("\na.update({'district': 'Bang Sao Thong'})\n→", a)

In [ ]:
# Delete an element in a dictionary

# Step 1: Create a dictionary 'a'
a = {'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True}
print('a =', a)

# Step 2: Delete a specific element in the dictionary - delete 'phone'
del a['phone']
print("\ndel a['phone']\n→", a)

# Step 3: Delete the last element in the dictionary - delete 'active'
b = a.popitem()
print("\na.popitem()\n→", a)
print('b =', b)
print('type(b) =', type(b))

In [ ]:
# Clear a dictionary and delete a dictionary

# Step 1: Create a dictionary 'a'
a = {'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True}
print('a =', a)

# Step 2: Clear all elements in the dictionary
a.clear()
print("\na.clear()\n→", a)

# Step 3: Delete the dictionary
del a

if 'a' in locals():
    print("'a' does exist")
else:
    print("'a' does not exist")

In [ ]:
# Loop a dictionary

# Step 1: Define a dictionary named 'a' with some sample data.
a = {'sid': 6010001, 'fname': 'Piyabute', 'lname': 'Fuangkhon', 'phone': '027232236', 'active': True}

# Step 2: Print all elements in the dictionary.
print('Print all elements')
for i, (key, value) in enumerate(a.items()):
    print(i, 'key of a =', key, ', value of a =', value)

# Step 3: Print all keys in the dictionary.
print()
print('Print all keys')
for i, key in enumerate(a):
    print(i, 'key of a =', key)

# Step 4: Print all keys using .keys() method.
print()
print('Print all keys using .keys()')
for i, key in enumerate(a.keys()):
    print(i, 'key of a =', key)

# Step 5: Print all values using keys as indexes.
print()
print('Print all values using key as index')
for i, key in enumerate(a):
    print(i, 'value of a =', a[key])

# Step 6: Print all values using .values() method.
print()
print('Print all values using .values()')
for i, value in enumerate(a.values()):
    print(i, 'value of a =', value)

In [ ]:
# Loop a list of dictionary

# Step 1: Define a list of dictionaries 'a' containing sample data.
a0 = {'sid': 6010001, 'fname': 'Piyabute'}
a1 = {'sid': 6010002, 'fname': 'Robert'}
a2 = {'sid': 6010003, 'fname': 'Elon'}

a = [a0, a1, a2]

# Step 2: Print individual dictionary elements.
print('a[0] =', a[0])
print('a[1] =', a[1])
print('a[2] =', a[2])

# Step 3: Check if 'fname' key exists in each dictionary.
search_key = 'fname'
for i, dictionary in enumerate(a):
    if search_key in dictionary:
        print("'", search_key, "' in a[", i, "] → Yes", sep='')
    else:
        print("'", search_key, "' in a[", i, "] → No", sep='')

# Step 4: Check if 'Robert' value exists in each dictionary.
search_value = 'Robert'
for i, dictionary in enumerate(a):
    if search_value in dictionary.values():
        print("'", search_value, "' in a[", i, "] → Yes", sep='')
    else:
        print("'", search_value, "' in a[", i, "] → No", sep='')

# Step 5: Check if 6010003 value exists in each dictionary.
search_value = 6010003
for i, dictionary in enumerate(a):
    if search_value in dictionary.values():
        print("'", search_value, "' in a[", i, "] → Yes", sep='')
    else:
        print("'", search_value, "' in a[", i, "] → No", sep='')

In [ ]:
# Sort a dictionary

# Step 1: Define a dictionary 'a' with key-value pairs.
a = {6010003: 'Elon', 6010002: 'Robert', 6010001: 'Piyabute'}

# Step 2: Sort the dictionary by keys and print the result.
sorted_by_keys = sorted(a.items(), key=lambda x: x[0])  # Sorting by keys (x[0])
print('sorted(a.items(), key=lambda x: x[0]) →')
for item in sorted_by_keys:
    print(item)

# Step 3: Sort the dictionary by values and print the result.
sorted_by_values = sorted(a.items(), key=lambda x: x[1])  # Sorting by values (x[1])
print()
print('sorted(a.items(), key=lambda x: x[1]) →')
for item in sorted_by_values:
    print(item)

In [ ]:
# Sort a dictionary in a reverse order

# Step 1: Define a dictionary 'a' with key-value pairs.
a = {6010003: 'Elon', 6010002: 'Robert', 6010001: 'Piyabute'}

# Step 2: Sort the dictionary by keys in reverse order and print the result.
sorted_by_keys_reverse = sorted(a.items(), key=lambda x: x[0], reverse=True)  # Sorting by keys in reverse order (x[0])
print('sorted(a.items(), key=lambda x: x[0], reverse=True) →')
for item in sorted_by_keys_reverse:
    print(item)

# Step 3: Sort the dictionary by values in reverse order and print the result.
sorted_by_values_reverse = sorted(a.items(), key=lambda x: x[1], reverse=True)  # Sorting by values in reverse order (x[1])
print()
print('sorted(a.items(), key=lambda x: x[1], reverse=True) →')
for item in sorted_by_values_reverse:
    print(item)

In [ ]:
# Sort a list of dictionary

# Step 1: Define a list of dictionaries.
list_of_dicts = [
    {'sid': 6010003, 'fname': 'Elon'},
    {'sid': 6010002, 'fname': 'Robert'},
    {'sid': 6010001, 'fname': 'Piyabute'}
]

# Step 2: Sort the list of dictionaries by a specific key, e.g., 'sid'.
sorted_list = sorted(list_of_dicts, key=lambda x: x['sid'])

# Step 3: Print the sorted list.
for item in sorted_list:
    print(item)

In [ ]:
# Copy a dictionary

# Step 1: Define a dictionary 'a'.
a = {'sid': 6010001, 'fname': 'Piyabute', 'active': True}
print('a                          =', a)

# Step 2: Copy dictionary 'a' to 'b' by values.
b = a.copy()
print('b = a.copy()               →', b)

# Step 3: Modify dictionary 'b'.
b.update({'active': False})
print("b.update({'active': False}) →", b)

# Step 4: Print dictionary 'a' to confirm it remains unchanged.
print('a                          =', a)

In [ ]:
# Create a nested dictionary

# Step 1: Define a nested dictionary 'myfriend'.
myfriend = {
  6010001 : {
    "name" : "Vasa",
    "year" : 2000
  },
  6010002 : {
    "name" : "Pisal",
    "year" : 2010
  },
  6010003 : {
    "name" : "Sumate",
    "year" : 2021
  }
}

# Step 2: Loop through the keys of the outer dictionary.
for k in myfriend:
    print('Key =', k)

# Step 3: Loop through the values of the outer dictionary.
for v in myfriend.values():
    print('Value =', v)

# Step 4: Loop through both keys and values of the outer dictionary using items().
for k, v in myfriend.items():
    print('Key =', k, '/ Value =', v)

In [ ]:
# Create a nested dictionary from another dictionaries

# Step 1: Define three dictionaries.
friend1 = {'name': 'Vasa', 'year': 2000}
friend2 = {'name': 'Pisal', 'year': 2010}
friend3 = {'name': 'Sumate', 'year': 2021}

# Step 2: Create a nested dictionary 'myfriend' using the above dictionaries as values.
myfriend = {6010001: friend1, 6010002: friend2, 6010003: friend3}

# Step 3: Loop through the keys of the outer dictionary.
for k in myfriend:
    print('Key =', k)

# Step 4: Loop through the values of the outer dictionary.
for v in myfriend.values():
    print('Value =', v)

# Step 5: Loop through both keys and values of the outer dictionary using items().
for k, v in myfriend.items():
    print('Key =', k, '/ Value =', v)

In [ ]:
# Dictionary Methods

# clear() Removes all the elements from the dictionary
# copy() Returns a copy of the dictionary
# fromkeys() Returns a dictionary with the specified keys and value
# get() Returns the value of the specified key
# items() Returns a list containing a tuple for each key value pair
# keys() Returns a list containing the dictionary's keys
# pop() Removes the element with the specified key
# popitem() Removes the last inserted key-value pair
# setdefault() Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
# update() Updates the dictionary with the specified key-value pairs
# values() Returns a list of all the values in the dictionary

In [ ]:
# Dictionary exercises

# https://www.w3schools.com/python/python_dictionaries_exercises.asp

## DATA TYPE - SET

In [ ]:
# https://www.w3schools.com/python/python_sets.asp

# A set object is an unordered collection of distinct objects.
# A dictionary is in key:value format.
# A set is in value-only format.

In [ ]:
# Create a set

# Step 1: Create a set 'a' with some elements.
a = {'red', 'green', 'blue', 'blue'}
print('a              =', a)

# Step 2: Print each value in the set.
i = 0
for x in a:
    print(i + 1, ' element of a = ', x, sep='')
    i = i + 1

# Step 3: Print the type of the variable 'a'.
print('type(a) →', type(a))

In [ ]:
# Find if a specific value is in a set

# Step 1: Create a set 'a' with some elements.
a = {101, 102, 103, 104, 105}
print('a           =', a)

# Step 2: Check if 103 is in the set 'a'.
print('103 is in a →', 103 in a)

# Step 3: Check if 106 is in the set 'a'.
print('106 is in a →', 106 in a)

In [ ]:
# Add a new element to a set

# Step 1: Create a set 'a' with some elements.
a = {101, 102, 103, 104, 105}
print('a           =', a)

# Step 2: Check if 106 is in the set 'a'.
print('106 is in a →', 106 in a)

# Step 3: Add 106 to the set 'a' using the add() method.
a.add(106)
print('a.add(106)  →', a)

In [ ]:
# Update a set to include specific element(s)

# Step 1: Create a set 'a' with some elements.
a = {101, 102, 103, 104, 105}
print('a                   =', a)

# Step 2: Include 106 in the set 'a' using the update() method with a single element.
a.update({106})
print('a.update({106})     →', a)

# Step 3: Include 107 and 108 in the set 'a' using the update() method with multiple elements.
a.update({107, 108})
print('a.update({107,108}) →', a)

In [ ]:
# Update a set to include elements in another set

# Step 1: Create sets 'a' and 'b' with some elements.
a = {101, 102, 103, 104, 105}
b = {888, 999}
print('a           =', a)
print('b           =', b)

# Step 2: Add elements from set 'b' to set 'a' using the update() method.
a.update(b)
print('a.update(b) →', a)

In [ ]:
# Add new elements from a list,tuple,dictionary into a set

# Step 1: Create a set 'a', a list 'b', a tuple 'c', and a dictionary 'd' with some elements.
a = {101, 102, 103, 104, 105}  # a set
b = [666, 777]  # a list
c = (888, 999)  # a tuple
d = {6010001: 'Vasa'}  # a dictionary
print('a =', a)
print('b =', b)
print('c =', c)
print('d =', d)

# Step 2: Add new elements from list 'b' to set 'a' (add 666, 777).
a.update(b)
print('a.update(b)          →', a)

# Step 3: Add new elements from tuple 'c' to set 'a' (add 888, 999).
a.update(c)
print('a.update(c)          →', a)

# Step 4: Add new elements from dictionary 'd' to set 'a' (add 6010001).
a.update(d.keys())
print('a.update(d.keys())   →', a)
a.update(d.values())
print('a.update(d.values()) →', a)
a.update(d.items())
print('a.update(d.items())  →', a)

In [ ]:
# Remove a specific element from a set

# Step 1: Create a set 'a' with some elements.
a = {101, 102, 103, 104, 105}
print('a             =', a)

# Step 2: Remove the element '103' from the set 'a' using the remove() method.
a.remove(103)
print('a.remove(103) →', a)

In [ ]:
# Clear a set and delete a set

# Step 1: Create a set 'a' with some elements.
a = {101, 102, 103, 104, 105}
print('a         =', a)

# Step 2: Clear all items in the set 'a' using the clear() method.
a.clear()
print('a.clear() →', a)

# Step 3: Delete the set 'a'.
del a

# Step 4: Check if 'a' still exists in the local namespace.
if 'a' in locals():  # You can also use 'globals()' if needed.
    print("'a' does exist")
else:
    print("'a' does not exist")

### DATA TYPE - SET - MATHEMATICS

In [ ]:
# Compute mathematics on a set

# Step 1: Create a set 'a' with some elements.
a = {101, 103, 104, 102, 106, 105}
print('a            =', a)

# Step 2: Calculate the summation of elements in the set using sum().
print('sum(a)       →', sum(a))

# Step 3: Find the minimum element in the set using min().
print('min(a)       →', min(a))

# Step 4: Find the maximum element in the set using max().
print('max(a)       →', max(a))

# Step 5: Calculate the number of elements in the set using len().
print('len(a)       →', len(a))

### DATA TYPE - SET - OPERATIONS

In [ ]:
# Find whether b is a subset of a (b <= a)

# Step 1: Create sets 'a' and 'b'.
a = {101, 102, 103, 104, 105, 106}
b = {101, 102, 103}
print('a             =', a)
print('b             =', b)

# Step 2: Check if 'b' is a subset of 'a' using the issubset() method.
print('a.issubset(b) →', a.issubset(b))
print('b.issubset(a) →', b.issubset(a))

In [ ]:
# Find whether b is a superset of a (b >= a)

# Step 1: Create sets 'a' and 'b'.
a = {101, 102, 103, 104, 105, 106}
b = {101, 102, 103}
print('a               =', a)
print('b               =', b)

# Step 2: Check if 'b' is a superset of 'a' using the issuperset() method.
print('a.issuperset(b) →', a.issuperset(b))
print('b.issuperset(a) →', b.issuperset(a))

In [ ]:
# Union a with b (a | b) - Combine the element(s) in a and b

# Step 1: Create sets 'a' and 'b'.
a = {101, 102, 103, 104, 105, 106}
b = {777, 888, 999}
print('a              =', a)
print('b              =', b)

# Step 2: Calculate the union of sets 'a' and 'b' without modifying 'a'.
union_result = a.union(b)
print('a.union(b)     →', union_result)
print('a              =', a)  # 'a' remains unchanged

# Step 3: Calculate the union of sets 'a' and 'b' and assign the result to a new variable 'c'.
c = a.union(b)
print()
print('c = a.union(b) →', c)

In [ ]:
# Intersection a with b → (a & b) - Find the element(s) in a and b

# Step 1: Create sets 'a' and 'b'.
a = {101, 102, 103, 104, 105, 106}
b = {101, 102, 103, 777, 888, 999}
print('a                     =', a)
print('b                     =', b)

# Step 2: Calculate the intersection of sets 'a' and 'b' without modifying 'a'.
intersection_result = a.intersection(b)
print('a.intersection(b)     →', intersection_result)
print('a                     =', a)  # 'a' remains unchanged

# Step 3: Calculate the intersection of sets 'a' and 'b' and assign the result to a new variable 'c'.
c = a.intersection(b)
print()
print('c = a.intersection(b) →', c)

In [ ]:
# Difference a with b → (a - b) - Find the element(s) in a, but not in b

# Step 1: Create sets 'a' and 'b'.
a = {101, 102, 103, 104, 105, 106}
b = {101, 102, 103, 777, 888, 999}
print('a                   =', a)
print('b                   =', b)

# Step 2: Calculate the difference between sets 'a' and 'b' without modifying 'a'.
difference_result = a.difference(b)
print('a.difference(b)     →', difference_result)
print('a                   =', a)  # 'a' remains unchanged

# Step 3: Calculate the difference between sets 'a' and 'b' and assign the result to a new variable 'c'.
c = a.difference(b)
print()
print('c = a.difference(b) →', c)

In [ ]:
# Symmetric difference a with b → (a ^ b) or (a - b) | (a - b) or (~(a & b))
# Find the element(s) in both a and b, but NOT the duplicates

# Step 1: Create sets 'a' and 'b'.
a = {101, 102, 103, 104, 105, 106}
b = {101, 102, 103, 777, 888, 999}
print('a                                =', a)
print('b                                =', b)

# Step 2: Calculate the symmetric difference between sets 'a' and 'b' without modifying 'a'.
symmetric_difference_result = a.symmetric_difference(b)
print('a.symmetric_difference(b)        →', symmetric_difference_result)
print('a                                =', a)  # 'a' remains unchanged

# Step 3: Calculate the symmetric difference between sets 'a' and 'b' and assign the result to a new variable 'c'.
c = a.symmetric_difference(b)
print()
print('c = a.symmetric_difference(b)    →', c)

In [ ]:
# Whatever function ending with _update needs to be done first
# a.difference_update(b)
# a.intersection_update(u)

# Step 1: Create sets 'a', 'b', and 'u'.
a = {101, 102, 103, 104, 105, 106}
b = {101, 102, 103, 777, 888, 999}
u = {102, 103, 105}

# Step 2: Use difference_update to modify 'a' by removing elements that are also in 'b'.
a.difference_update(b)
print('After a.difference_update(b): a =', a)

# Step 3: Use intersection_update to modify 'a' by keeping only elements that are in both 'a' and 'u'.
a.intersection_update(u)
print('After a.intersection_update(u): a =', a)

In [ ]:
# Sample Set Operations

# Step 1: Create sets for engineers, managers, and programmers.
engineers = {'John', 'Jane', 'Jack', 'Janice'}
managers = {'Jane', 'Jack', 'Susan', 'Zack'}
programmers = {'Jack', 'Sam', 'Susan', 'Janice'}
print('Engineers                       =', engineers)
print('Managers                        =', managers)
print('Programmers                     =', programmers)

# Step 2: Calculate the union of all roles to find all employees.
employees = engineers | managers | programmers
print('Employees                       →', employees)

# Step 3: Calculate the intersection to find employees who are both engineers and managers.
engineers_managers = engineers & managers 
print('Engineers who are also managers →', engineers_managers)

# Step 4: Calculate the difference to find engineers who are not managers.
engineers_but_managers = engineers - managers 
print('Engineers who are not managers  →', engineers_but_managers)

In [ ]:
# Sort set

In [ ]:
# Set Methods

# add() Adds an element to the set
# clear() Removes all the elements from the set
# copy() Returns a copy of the set
# difference() Returns a set containing the difference between two or more sets
# difference_update() Removes the items in this set that are also included in another, specified set
# discard() Remove the specified item
# intersection() Returns a set, that is the intersection of two other sets
# intersection_update() Removes the items in this set that are not present in other, specified set(s)
# isdisjoint() Returns whether two sets have a intersection or not
# issubset() Returns whether another set contains this set or not
# issuperset() Returns whether this set contains another set or not
# pop() Removes an element from the set
# remove() Removes the specified element
# symmetric_difference() Returns a set with the symmetric differences of two sets
# symmetric_difference_update() inserts the symmetric differences from this set and another
# union() Return a set containing the union of sets
# update() Update the set with the union of this set and others

In [ ]:
# Set Exercises

# https://www.w3schools.com/python/python_sets_exercises.asp

## DATA TYPE - CONVERSION

In [ ]:
# Convert a list into a set

# Step 1: Create a list 'a'.
a = [1, 2, 3, 4, 5, 6]
print('a          =', a)
print('type(a)    =', type(a))

# Step 2: Convert the list 'a' into a set 's'.
s = set(a)
print('s = set(a) →', s)
print('type(s)    =', type(s))

In [ ]:
# Convert a tuple into a set

# Step 1: Create a tuple 'a'.
a = (1, 2, 3, 4, 5, 6)
print('a          =', a)
print('type(a)    =', type(a))

# Step 2: Convert the tuple 'a' into a set 's'.
s = set(a)
print('s = set(a) →', s)
print('type(s)    =', type(s))

In [ ]:
# Convert a dictionary into a set

# Step 1: Create a dictionary 'a'.
a = {1: 'A', 2: 'B', 3: 'C'}
print('a                   =', a)
print('type(a)             =', type(a))

# Step 2: Convert the dictionary keys into a set 's'.
s = set(a.keys())
print('s = set(a.keys())   →', s)
print('type(s)             =', type(s))

# Step 3: Convert the dictionary values into a set and union it with the previous set 's'.
s = s.union(set(a.values()))
print('s = set(a.values()) →', s)
print('type(s)             =', type(s))

In [ ]:
# Convert string to integer data type

# Step 1: Create a string 'a' that represents a number.
a = '10'
print('a          =', a)
print('type(a)    =', type(a))

# Step 2: Convert the string 'a' to an integer 'b'.
b = int(a)
print('b = int(a) →', b)
print('type(b)    =', type(b))

In [ ]:
# Convert string to float data type

# Step 1: Create a string 'a' that represents a floating-point number.
a = '10.1'
print('a            =', a)
print('type(a)      =', type(a))

# Step 2: Convert the string 'a' to a float 'b'.
b = float(a)
print('b = float(a) →', b)
print('type(b)      =', type(b))

In [ ]:
# Convert string to float data type

# Step 1: Create a string 'a' that represents a number (either integer or float).
a = '10.1'
print('a            =', a)

# Step 2: Check if 'a' contains a period ('.'). If it does, convert it to a float; otherwise, convert it to an integer.
if '.' in a:
    b = float(a)
    print('b = float(a) →', b)
    print('type(b)      =', type(b))
else:
    c = int(a)
    print('c = int(a)   →', c)
    print('type(c)      =', type(c))

In [ ]:
# Convert integer to string data type

# Step 1: Create an integer 'a'.
a = 10
print('a          =', a)
print('type(a)    =', type(a))

# Step 2: Convert the integer 'a' to a string 'b'.
b = str(a)
print('b = str(a) →', b)
print('type(b)    =', type(b))

In [ ]:
# Convert float to string data type

# Step 1: Create a float 'a'.
a = 10.1
print('a          =', a)
print('type(a)    =', type(a))

# Step 2: Convert the float 'a' to a string 'b'.
b = str(a)
print('b = str(a) →', b)
print('type(b)    =', type(b))

In [ ]:
# List all the supported methods for a class

# Step 1: Integer
a = 10
print('Step 1 - Integer:')
print('a          =', a)
print('type(a)    =', type(a))
print('Methods and attributes for Integer:')
for item in dir(a):
    print(item)

# Step 2: Float
print('\nStep 2 - Float:')
a = 10.1
print('a          =', a)
print('type(a)    =', type(a))
print('Methods and attributes for Float:')
for item in dir(a):
    print(item)

# Step 3: String
print('\nStep 3 - String:')
a = '10.1'
print('a          =', a)
print('type(a)    =', type(a))
print('Methods and attributes for String:')
for item in dir(a):
    print(item)

# MODULE 2 - OPERATORS

## OPERATORS - ARITHMETIC OPERATORS

In [ ]:
# https://www.w3schools.com/python/python_operators.asp

In [ ]:
# Operators

# Step 1: Initialize variables a and b.
a = 15
b = 5
print('Step 1: Initialize variables a and b')
print('a                  =', a)
print('b                  =', b)

# Step 2: Addition
print('\nStep 2: Addition')
print('a+b                →', a + b)

# Step 3: Subtraction
print('\nStep 3: Subtraction')
print('a-b                →', a - b)

# Step 4: Multiplication
print('\nStep 4: Multiplication')
print('a*b                →', a * b)
print('float(a)*b         →', float(a) * b)
print('a*float(b)         →', a * float(b))
print('float(a)*float(b)  →', float(a) * float(b))
print('float(a*b)         →', float(a * b))

# Step 5: Change the values of variables a and b.
a = 15
b = 2
print()
print('Step 5: Change the values of variables a and b')
print('a                  =', a)
print('b                  =', b)

# Step 6: Division
print('\nStep 6: Division')
print('a/b                →', a / b)
print('float(a)/b         →', float(a) / b)
print('a/float(b)         →', a / float(b))
print('float(a)/float(b)  →', float(a) / float(b))

# Step 7: Floor or Div (Output of a division)
print('\nStep 7: Floor or Div (Output of a division)')
print('a//b               →', a // b)
print('float(a)//b        →', float(a) // b)
print('a//float(b)        →', a // float(b))
print('float(a)//float(b) →', float(a) // float(b))

# Step 8: Modulus (Remainder of a division)
print('\nStep 8: Modulus (Remainder of a division)')
print('a%b                →', a % b)
print('float(a)%b         →', float(a) % b)
print('a%float(b)         →', a % float(b))
print('float(a)%float(b)  →', float(a) % float(b))

# Step 9: Exponentiation (a**b)
print('\nStep 9: Exponentiation (a**b)')
print('a**b               →', a ** b)
print('float(a)**b        →', float(a) ** b)
print('a**float(b)        →', a ** float(b))
print('float(a)**float(b) →', float(a) ** float(b))

## OPERATORS - COMPOUND ARITHMETIC OPERATORS

In [ ]:
# Addition (a = a+b)

# Step 1: Initialize variables a and b
a = 15
b = 5

# Step 2: Print the values of a and b
print('a =', a)
print('b =', b)

# Step 3: Perform addition operation (a = a + b) and print the result
result = a + b
print('a = a + b  →  a =', a, '+', b, ' →  a =', result)

# Step 4: Perform addition operation using shorthand (a += b) and print the result
a += b  # This is equivalent to a = a + b
print('a += b     →  a =', a, '+', b, ' →  a =', a)

In [ ]:
# Subtraction (a = a-b)

# Step 1: Initialize variables a and b
a = 15
b = 5

# Step 2: Print the values of a and b
print('a =', a)
print('b =', b)

# Step 3: Perform subtraction operation (a = a - b) and print the result
result = a - b
print('a = a - b  →  a =', a, '-', b, ' →  a =', result)

# Step 4: Perform subtraction operation using shorthand (a -= b) and print the result
a -= b  # This is equivalent to a = a - b
print('a -= b     →  a =', a, '-', b, ' →  a =', a)

In [ ]:
# Multiplication (a = a*b)

# Step 1: Initialize variables a and b
a = 15
b = 5

# Step 2: Print the values of a and b
print('a =', a)
print('b =', b)

# Step 3: Perform multiplication operation (a = a * b) and print the result
result = a * b
print('a = a × b  →  a =', a, '×', b, ' →  a =', result)

# Step 4: Perform multiplication operation using shorthand (a *= b) and print the result
a *= b  # This is equivalent to a = a * b
print('a *= b     →  a =', a, '×', b, ' →  a =', a)

In [ ]:
# Division (a = a/b)

# Step 1: Initialize variables a and b
a = 15
b = 5

# Step 2: Print the values of a and b
print('a =', a)
print('b =', b)

# Step 3: Perform division operation (a = a / b) and print the result
result = a / b
print('a = a / b  →  a =', a, '÷', b, '  →  a =', result)

# Step 4: Perform division operation using shorthand (a /= b) and print the result
a /= b  # This is equivalent to a = a / b
print('a /= b     →  a =', a, '÷', b, ' →  a =', a)

## OPERATORS - LOGICAL OPERATORS

In [ ]:
# Check 'a' is strictly less than 'b'

# Step 1: Initialize variables a and b
a = 5
b = 5

# Step 2: Check if a is strictly less than b and store the result in variable c
c = a < b  # This will be a Boolean value (True or False)

# Step 3: Print the values of a and b
print('a =', a)
print('b =', b)

# Step 4: Print the comparison operation (a < b) as a question
print('a < b → ?')

# Step 5: Print the comparison operation (a < b) with values and the result
print(a, '<', b, '→ ?')

# Step 6: Print the result of the comparison (True or False)
print(a, '<', b, '→', c)

In [ ]:
# Check 'a' is less than or equal to 'b'

# Step 1: Initialize variables a and b
a = 5
b = 5

# Step 2: Check if a is less than or equal to b and store the result in variable c
c = a <= b  # This will be a Boolean value (True or False)

# Step 3: Print the values of a and b
print('a  =', a)
print('b  =', b)

# Step 4: Print the comparison operation (a <= b) as a question
print('a <= b → ?')

# Step 5: Print the comparison operation (a <= b) with values and the result
print(a, '<=', b, '→ ?')

# Step 6: Print the result of the comparison (True or False)
print(a, '<=', b, '→', c)

In [ ]:
# Check 'a' is strictly greater than 'b'

# Step 1: Initialize variables a and b
a = 5
b = 5

# Step 2: Check if a is strictly greater than b and store the result in variable c
c = a > b  # This will be a Boolean value (True or False)

# Step 3: Print the values of a and b
print('a =', a)
print('b =', b)

# Step 4: Print the comparison operation (a > b) as a question
print('a > b → ?')

# Step 5: Print the comparison operation (a > b) with values and the result
print(a, '>', b, '→ ?')

# Step 6: Print the result of the comparison (True or False)
print(a, '>', b, '→', c)

In [ ]:
# Check 'a' is greater than or equal to 'b'

# Step 1: Initialize variables a and b
a = 5
b = 5

# Step 2: Check if a is greater than or equal to b and store the result in variable c
c = a >= b  # This will be a Boolean value (True or False)

# Step 3: Print the values of a and b
print('a  =', a)
print('b  =', b)

# Step 4: Print the comparison operation (a >= b) as a question
print('a >= b → ?')

# Step 5: Print the comparison operation (a >= b) with values and the result
print(a, '>=', b, '→ ?')

# Step 6: Print the result of the comparison (True or False)
print(a, '>=', b, '→', c)

In [ ]:
# Check if 'a' is equal to 'b'

# Step 1: Initialize variables a and b
a = 5
b = 5

# Step 2: Check if a is equal to b and store the result in variable c
c = a == b  # This will be a Boolean value (True or False)

# Step 3: Print the values of a and b
print('a  =', a)
print('b  =', b)

# Step 4: Print the comparison operation (a == b) as a question
print('a == b → ?')

# Step 5: Print the comparison operation (a == b) with values and the result
print(a, '==', b, '→ ?')

# Step 6: Print the result of the comparison (True or False)
print(a, '==', b, '→', c)

In [ ]:
# Check 'a' is not equal to 'b'

# Step 1: Initialize variables a and b
a = 5
b = 5

# Step 2: Check if a is not equal to b and store the result in variable c
c = a != b  # This will be a Boolean value (True or False)

# Step 3: Print the values of a and b
print('a  =', a)
print('b  =', b)

# Step 4: Print the comparison operation (a != b) as a question
print('a != b → ?')

# Step 5: Print the comparison operation (a != b) with values and the result
print(a, '!=', b, '→ ?')

# Step 6: Print the result of the comparison (True or False)
print(a, '!=', b, '→', c)

In [ ]:
# AND (True/False, case sensitive) (both are True, then True; otherwise, false)

# Step 1: Initialize boolean variables a and b
a = True
b = False

# Step 2: Print the values of a and b
print('a       =', a)
print('b       =', b)

# Step 3: Perform logical AND operation (a and b) and print the result
result1 = a and b
print('a and b →', result1)

# Step 4: Perform logical AND operation (a & b) and print the result
result2 = a & b
print('a & b   →', result2)

In [ ]:
# OR (both are False, then false; otherwise, True)

# Step 1: Initialize boolean variables a and b
a = True
b = False

# Step 2: Print the values of a and b
print('a      =', a)
print('b      =', b)

# Step 3: Perform logical OR operation (a or b) and print the result
result1 = a or b
print('a or b →', result1)

# Step 4: Perform logical OR operation (a | b) and print the result
result2 = a | b
print('a | b  →', result2)

In [ ]:
# NOT (negation)

# Step 1: Initialize a boolean variable a
a = True

# Step 2: Print the value of a
print('a     =', a)

# Step 3: Perform the logical NOT operation (not a) and print the result
result = not a
print('not a →', result)

## OPERATORS - MEMBERSHIP

In [ ]:
# List - Find whether b is in a

# Step 1: Initialize a list a and an element b
a = [101, 102]
b = 101

# Step 2: Print the values of a and b
print('a      =', a)
print('b      =', b)

# Step 3: Check if b is in the list a and print the result
result = b in a
print('b in a →', result)

In [ ]:
# Tuple - Find whether b is in a

# Step 1: Initialize a tuple a and an element b
a = (101, 102)
b = 101

# Step 2: Print the values of a and b
print()
print('a      =', a)
print('b      =', b)

# Step 3: Check if b is in the tuple a and print the result
result = b in a
print('b in a →', result)

In [ ]:
# Set - Find whether b is in a

# Step 1: Initialize a set a and an element b
a = {101, 102}
b = 101

# Step 2: Print the values of a and b
print()
print('a      =', a)
print('b      =', b)

# Step 3: Check if b is in the set a and print the result
result = b in a
print('b in a →', result)

In [ ]:
# List - Find whether b is NOT in a

# Step 1: Initialize a list a and an element b
a = [101, 102]
b = 101

# Step 2: Print the values of a and b
print('a          =', a)
print('b          =', b)

# Step 3: Check if b is not in the list a and print the result
result = b not in a
print('b not in a →', result)

In [ ]:
# Tuple - Find whether b is NOT in a

# Step 1: Initialize a tuple a and an element b
a = (101, 102)
b = 101

# Step 2: Print the values of a and b
print()
print('a          =', a)
print('b          =', b)

# Step 3: Check if b is not in the tuple a and print the result
result = b not in a
print('b not in a →', result)

In [ ]:
# Set - Find whether b is NOT in a

# Step 1: Initialize a set a and an element b
a = {101, 102}
b = 101

# Step 2: Print the values of a and b
print()
print('a          =', a)
print('b          =', b)

# Step 3: Check if b is not in the set a and print the result
result = b not in a
print('b not in a →', result)

## OPERATORS - IDENTITY

In [ ]:
# is - number (==)

# Step 1: Initialize integer variables a, b, and c
a = 1
b = 1
c = 2

# Step 2: Print the values of a, b, and c
print('a      =', a)
print('b      =', b)
print('c      =', c)

# Step 3: Check if b is the same object as a (reference the same value in memory)
result1 = b is a
print('b is a →', result1)

# Step 4: Check if c is the same object as a (reference the same value in memory)
result2 = c is a
print('c is a →', result2)

In [ ]:
# is not (!=)

# Step 1: Initialize integer variables a, b, and c
a = 1
b = 1
c = 2

# Step 2: Print the values of a, b, and c
print('a          =', a)
print('b          =', b)
print('c          =', c)

# Step 3: Check if b is not the same object as a (do not reference the same value in memory)
result1 = b is not a
print('b is not a →', result1)

# Step 4: Check if c is not the same object as a (do not reference the same value in memory)
result2 = c is not a
print('c is not a →', result2)

In [ ]:
# is - string

# Step 1: Initialize string variables a, b, and c
a = "hello"
b = "hello"
c = "Hello"

# Step 2: Print the values of a, b, and c
print()
print('a          =', a)
print('b          =', b)
print('c          =', c)

# Step 3: Check if b is not the same object as a (do not reference the same value in memory)
result1 = b is not a
print('b is not a →', result1)

# Step 4: Check if c is not the same object as a (do not reference the same value in memory)
result2 = c is not a
print('c is not a →', result2)

## OPERATORS - PRECEDENCE

In [ ]:
# Arithmetic operators will be performend in a specific order defined by the precedence
# (),*/,+-

# Step 1: Initialize integer variables a, b, and c
a = 3
b = 2
c = 1

# Step 2: Print the values of a, b, and c
print('a        =', a)
print('b        =', b)
print('c        =', c)

# Step 3: Perform arithmetic operations with expressions and print the results

# a + b - c → Add a and b first, then subtract c
print('a+b-c    →', a + b - c, '(calculate a+b first)')

# a * b - c → Multiply a and b first, then subtract c
print('a*b-c    →', a * b - c, '(calculate a*b first)')

# a + b * c → Multiply b and c first, then add a
print('a+b*c    →', a + b * c, '(calculate b*c first)')

# (a + b) * c → Add a and b first, then multiply by c using parentheses
print('(a+b)*c  →', (a + b) * c, '(calculate a+b first)')

# a + (b * c) → Multiply b and c first, then add a using parentheses
print('a+(b*c)  →', a + (b * c), '(calculate b*c first)')

# (a + b) - c → Add a and b first, then subtract c using parentheses
print('(a+b)-c  →', (a + b) - c, '(calculate a+b first)')

# a + (b - c) → Subtract c from b first, then add a using parentheses
print('a+(b-c)  →', a + (b - c), '(calculate b-c first)')

# (a * b) ** c → Multiply a and b first, then raise the result to the power of c using parentheses
print('(a*b)**c →', (a * b) ** c, '(calculate a*b first)')

# a * (b ** c) → Raise b to the power of c first, then multiply the result by a using parentheses
print('a*(b**c) →', a * (b ** c), '(calculate b**c first)')

# MODULE 3 - CONTROL STRUCTURES

## CONTROL STRUCTURES - IF-ELSE / IF-ELIF-ELSE

In [ ]:
# Syntax
# if expression1:
#     statement(s)
# elif expression2:
#     statement(s)
# else:
#     statement(s)

In [ ]:
# if-else

# Step 1: Initialize integer variables a and b
a = 1
b = 2

# Step 2: Print the values of a and b
print('a =', a)
print('b =', b)

# Step 3: Use an if-else statement to compare a and b
if a > b: 
    print('a is greater than b')
else:
    print('a is not greater than b')

In [ ]:
# if-elif-else

# Step 1: Initialize integer variables a and b
a = 1
b = 2

# Step 2: Print the values of a and b
print('a =', a)
print('b =', b)

# Step 3: Use an if-elif-else statement to compare a and b
if a > b:
    print('a is greater than b')
elif a == b:
    print('a equals b')
else:
    print('a is less than b')

In [ ]:
# if-else with input()

# Step 1: Prompt the user to enter the order amount and convert it to a float
order = float(input('What is the order amount: '))  # default input function returns a string, so convert to float

# Step 2: Use an if-else statement to determine the discount
if order > 100:
    discount = 25
else:
    discount = 0

# Step 3: Print the calculated discount
print('Discount =', discount)

In [ ]:
# if-else with input()

# Step 1: Prompt the user to enter the order amount
try:
    # The default input function returns a string, so we try to convert it to float
    order = float(input('What is the order amount: '))
    
    # Step 2: Use an if-else statement to determine the discount
    if order > 100:
        discount = 25
    else:
        discount = 0

    # Step 3: Print the calculated discount
    print('Discount =', discount)

except ValueError:
    # Handle the case where the input is not a valid floating-point number
    print("Invalid input. Please enter a valid number.")

## CONTROL STRUCTURES - TERNARY OPERATOR

In [ ]:
# STOP ON 24/08/2021
# Ternary operator

# Step 1: Prompt the user to enter the order amount and convert it to a float
order = float(input('What is the order amount: '))  # default input function returns a string, so convert to float

# Step 2: Use a ternary operator to calculate the discount
discount = 25 if order > 100 else 0

# Step 3: Print the calculated discount
print('Discount =', discount)

In [ ]:
# Challenge 
# Ask 'What is your grade'
# if grade is A, then print "Excellent!"
# if grade is B, then print "Well done!"
# if grade is C, then print "Work harder"
# otherwise, print "I don't know your grade"

## CONTROL STRUCTURES - WHILE LOOP

In [ ]:
# Syntax
# while condition:
#     statement(s)

In [3]:
# while-loop

# Step 1: Initialize integer variable a
a = 1

# Step 2: Prompt the user to enter the number of loops and convert it to an integer
loop = int(input('Enter the loop: '))

# Step 3: Print a message to indicate the beginning of the loop
print('Begin loop')

# Step 4: Use a while loop to iterate while a is less than or equal to the specified loop value
while (a <= loop):
    # Step 5: Print the value of a inside the loop
    print('Inside loop: a =', a)
    
    # Step 6: Increment the value of a by 1
    a += 1  # The indentation (tab) is important; it must be inside the loop block

# Step 7: Print a message to indicate the end of the loop
print('End loop')

Enter the loop:  5

Begin loop
Inside loop: a = 1
Inside loop: a = 2
Inside loop: a = 3
Inside loop: a = 4
Inside loop: a = 5
End loop

In [ ]:
# Challenge

## CONTROL STRUCTURES - FOR-LOOP

In [ ]:
# for variable in range(a,b):
#     statement(s)

In [ ]:
# for-loop - print 1,2,3,...,n
# Print the loop directly
# Step 1: Prompt the user to enter the number of loops and convert it to an integer
loop = int(input('Enter the loop: '))

# Step 2: Print a message to indicate the beginning of the loop
print('Begin loop')

# Step 3: Use a for loop to iterate from 1 to the specified loop value (inclusive)
for a in range(1, loop + 1):
    # Step 4: Print the current value of 'a' inside the loop
    print('Inside loop: a =', a)

# Step 5: Print a message to indicate the end of the loop
print('End Loop')

In [ ]:
# for-loop - print 1,2,3,...,n
# Print the loop from a list

# Step 1: Initialize an empty list 'a'
a = []

# Step 2: Print a message to indicate the beginning of the loop
print('Begin loop')

# Step 3: Use a for loop to iterate from 1 to the specified loop value (inclusive)
for x in range(1, loop + 1):
    # Step 4: Append the current value of 'x' to the list 'a'
    a.append(x)
    
    # Step 5: Print the list 'a' inside the loop
    print('Inside loop:', a)

# Step 6: Print a message to indicate the end of the loop
print('End loop')

In [ ]:
# Challenge

# MODULE 4 - FUNCTIONS

## FUNCTIONS

In [ ]:
# Blocks of code that perform specific tasks
# - Calculate a mathematical expression
# - Evaluate the outcome of a series of statements
# - Print results in a specific format

In [ ]:
# Syntax
# def func_name(input list):
#     statement(s)
#     return output_expression

In [ ]:
# Pass one argument, return one output

# Step 1: Define a function 'powertwo' that takes one argument 'x' and returns 'x*x'
def powertwo(x):
    return x * x

# Step 2: Prompt the user to enter a number and convert it to an integer
n = int(input('Enter a number: '))

# Step 3: Calculate the square of the entered number using the 'powertwo' function
result = powertwo(n)

# Step 4: Print the result
print('The power two of', n, 'is', result)

In [ ]:
# Challenge - Taxi Fare
# Create a function for computing the taxi fare
# taxi fare = booking fee + starting price+ distance * cost per km

In [ ]:
# Pass one argument, return two outputs

# Step 1: Define a function 'power23' that takes one argument 'x' and returns a tuple containing 'x*x' and 'x*x*x'
def power23(x):
    return (x * x, x * x * x)

# Step 2: Prompt the user to enter a number and convert it to an integer
n = int(input('Enter a number: '))

# Step 3: Calculate the square and cube of the entered number using the 'power23' function
result = power23(n)

# Step 4: Print the results
print('The power two and three of', n, 'are', result[0], 'and', result[1])

In [ ]:
# Challenge - Function
# Create a function to return the discount and the tax for grocery purchase
# discount = 25 if order > 200 else 0
# tax = 0.07*(order after discount)

In [ ]:
# Pass two arguments, return one argument

# Step 1: Define a function 'add' that takes two arguments 'x' and 'y', adds them, and returns the result
def add(x, y):
    z = x + y
    return z

# Step 2: Prompt the user to enter two numbers and convert them to integers
m = int(input('Enter a number #1: '))
n = int(input('Enter a number #2: '))

# Step 3: Calculate the sum of the entered numbers using the 'add' function
result = add(m, n)

# Step 4: Print the result
print(m, '+', n, '=', result)

In [ ]:
# Assign default values to the arguments

# Step 1: Define a function 'rect' with default values for 'a' and 'b'
def rect(a=3, b=5):
    return a * b

# Step 2: Call the 'rect' function without providing arguments (uses default values)
print('rect()    →', rect())

# Step 3: Call the 'rect' function and override default values (a ← 2, b ← 3)
print('rect(2,3) →', rect(2, 3))

In [ ]:
# Pass variable arguments

# Step 1: Define a function 'sum' that takes 'a' as the first argument and '*b' to collect additional arguments in a tuple
def sum(a, *b):
    s = a
    for i in b:
        s = s + i
    return s

# Step 2: Call the 'sum' function with different numbers of arguments
print('sum(1)           →', sum(1))
print('sum(1,2)         →', sum(1, 2))
print('sum(1,2,3)       →', sum(1, 2, 3))
print('sum(1,2,3,4)     →', sum(1, 2, 3, 4))
print('sum(1,2,3,4,5)   →', sum(1, 2, 3, 4, 5))
print('sum(1,2,3,4,5,6) →', sum(1, 2, 3, 4, 5, 6))

In [ ]:
# Challenge - Minimum Value
# Give a sequence of variable number of elements, create a function to determine the minimum value

## FUNCTIONS - LAMBDA

In [ ]:
# https://www.w3schools.com/python/python_lambda.asp

# A lambda function can take any number of arguments, but can only have one expression.

# When to use Def or Lambda
# When you don't need the function name, use lambda, eg passing a function to another function
# When you need to use the function name to re-use again, use def

# Syntax
# lambda input list: output expression

# equivalent to

# def name(arg1, arg2,....): 
#    return expression

In [ ]:
# Create a lambda

# Step 1: Create a lambda function 'f' that takes 'x' as an argument and returns 'x*x'
f = lambda x: x*x

# Step 2: Print the lambda function
print('f = lambda x: x*x')

# Step 3: Call the lambda function and calculate 'x*x'
print('x*x →', f(10))


# Create a function equivalent to the above lambda

# Step 1: Define a regular function 'f' that takes 'x' as an argument and returns 'x*x'
def f(x):
    return x*x

# Step 2: Print the regular function
print()
print('def f(x):')
print('    return x*x')

# Step 3: Call the regular function and calculate 'x*x'
print('x*x →', f(10))

In [ ]:
# Challenge - Lambda
# Write the lambda function for 
# def f(x,y):
#     return 10*x+y

## FUNCTIONS - MAP

In [ ]:
# https://www.w3schools.com/python/ref_func_map.asp

# The map() function executes a specified function for each item in an iterable.
# The item is sent to the function as a parameter.

# Syntax
# map(function, seq)

In [ ]:
# Create a lambda and execute the map function

# Step 1: Create a list 'a'
a = [1, 2, 3, 4, 5]

# Step 2: Create a lambda function 'f' that calculates the square of its input 'x'
f = lambda x: x**2

# Step 3: Print the list 'a' and the lambda function 'f'
print('a              =', a)
print('f              = lambda x: x**2')

# Step 4: Use the 'map' function to apply 'f' to each element in 'a', and convert the result to a list
result = list(map(f, a))

# Step 5: Print the result, which contains the squares of the elements in 'a'
print('list(map(f, a)) →', result)

In [ ]:
# Challenge - Map
# Using map to compute the answer for 
# f = lambda x,y:10*x+y
# x = [0,1,2,3]
# y = [2,4,6,8]

# MODULE 5 - MODULES (LIBRARY)

In [ ]:
# https://www.w3schools.com/python/python_modules.asp

# A module allows you to logically organize your Python code.
# Grouping related code into a module makes the code easier to understand and use.
# A module is a Python object with arbitrarily named attributes that you can bind and reference.
# Simply, a module is a file consisting of Python code.
# A module can define functions, classes and variables.
# A module can also include runnable code.

# Python’s standard library is very useful and extensive.
# https://docs.python.org/3/library/
# math
# random
# statistics
# sys
# datetime
# urllib

# Syntax
# library_name.function()

# The only difference between "import" and "from" statements is what name is bound.
# import sys binds the name sys to the module (so sys -> sys.modules['sys']).
# from sys import argv binds a different name, argv , pointing straight at the attribute contained inside of the module (so argv -> sys)

In [ ]:
# Import everything in a "math" library

# Step 1: Import the entire 'math' library
import math

# Step 2: Calculate the sine of 0.5 radians using the 'math.sin()' function
result = math.sin(0.5)

# Step 3: Print the result
print('math.sin(0.5) →', result)

In [ ]:
# Import everything in a "math" library with a new abbreviation

# Select "Kernel" menu and execute "Restart & Clear Output" before executing the below statements
# Error will occur because of unknown math.sin function

# Step 1: Import the entire 'math' library with the abbreviation 'm'
import math as m

# Step 2: Correctly calculate the sine of 0.5 radians using the 'm.sin()' function
print('math.sin(0.5) →', math.sin(0.5))  # Comment this line to fix the problem
print('m.sin(0.5)    →', m.sin(0.5))     # Use 'm.sin()' to correctly calculate the sine

In [ ]:
# Import everything in a math library

# Select "Kernel" menu and execute "Restart & Clear Output" before executing the below statements
# Error will occur because of unknown math.sin function

# Step 1: Import everything from the 'math' library
from math import *

# Step 2: Correctly calculate the sine of 0.5 radians using the 'sin()' function
#print(math.sin(0.5))  # Comment this line to fix the problem
print('sin(0.5)    →', sin(0.5))  # Use 'sin()' to correctly calculate the sine

In [ ]:
# The statement "import math" brings only the name math into scope.
# The statement "import *" brings all of the names exposed by the math module into scope.

# "import math"
# The advantage of "import math" is that it keeps your namespace clean 
# and helps you quickly recognize which modules the functions used in your code came from. 
# The disadvantage is having to use longer function names, 
# for example: math.sqrt instead of sqrt. 
# This problem can be mitigated by shortening the name
# (for example, NumPy is customarily invoked using import numpy as np).

# "import *"
# The advantage of "import *" is having shorter function names,
# for example: sqrt instead of math.sqrt. 

# It’s generally considered good practice to avoid wildcard imports, 
# especially for code that will be reused.

In [ ]:
# Import a few selected names in a math library

# Select "Kernel" menu and execute "Restart & Clear Output" before executing the below statements
# Error will occur because of unknown cos function

from math import sin,pi

print(sin(0.5))
print(cos(0.5)) # comment this statement to fix the problem

## MODULES - MATH

In [ ]:
# math library

# Step 1: Import the 'math' library
import math

# Step 2: Print the constants from the 'math' library
print('math.pi  =', math.pi)    # Print the constant for pi (π)
print('math.e   =', math.e)     # Print the constant for the base of the natural logarithm (e)
print('math.inf =', math.inf)   # Print positive infinity (inf)

In [ ]:
# Compute sin function

# Step 1: Import the 'math' library
import math

# Step 2: Prompt the user to enter a number and convert it to a float
n = float(input('Enter a number: '))

# Step 3: Calculate the sine of the entered number using 'math.sin()' and print the result
print('math.sin(', n, ') → ', math.sin(n), sep='')

In [ ]:
# Compute cos function

# Step 1: Import the 'math' library
import math

# Step 2: Prompt the user to enter a number and convert it to a floating-point number
n = float(input('Enter a number: '))

# Step 3: Calculate the cosine of the entered number using 'math.cos()' and print the result
print('math.cos(', n, ') → ', math.cos(n), sep='')

In [ ]:
# Compute radians function

# Step 1: Import the 'math' library
import math

# Step 2: Prompt the user to enter a degree value and convert it to a floating-point number
n = float(input('Enter a degree: '))

# Step 3: Convert the degree value into radians using 'math.radians()' and print the result
print('math.radians(', n, ') → ', math.radians(n), sep='')

In [ ]:
# Compute a log 2 function

# Step 1: Import the 'math' library
import math

# Step 2: Prompt the user to enter a number and convert it to a floating-point number
n = float(input('Enter a number: '))

# Step 3: Compute the base-2 logarithm of the entered number using 'math.log()' and print the result
print('math.log(', n, ', 2) → ', math.log(n, 2), sep='')

In [ ]:
# Compute a log base n function

# Step 1: Import the 'math' library
import math

# Step 2: Prompt the user to enter a number 'm' and convert it to a floating-point number
m = float(input('Enter a number: '))

# Step 3: Prompt the user to enter a base value 'n' and convert it to a floating-point number
n = float(input('Enter a base value: '))

# Step 4: Compute the logarithm of 'm' with base 'n' using 'math.log()' and print the result
print('math.log(', m, ',', n, ') → ', math.log(m, n), sep='')

In [ ]:
# Compute a factorial function

# Step 1: Import the 'math' library
import math

# Step 2: Prompt the user to enter a number 'n' and convert it to an integer
n = int(float(input('Enter a number: ')))

# Step 3: Compute the factorial of 'n' using 'math.factorial()' and print the result
print(n, '! → ', math.factorial(n), sep='')

In [ ]:
# Compute a great common divisor (GCD) function

# Step 1: Import the 'math' library
import math

# Step 2: Prompt the user to enter two numbers 'm' and 'n' and convert them to integers
m = int(float(input('Enter a number #1: ')))
n = int(float(input('Enter a number #2: ')))

# Step 3: Compute the greatest common divisor (GCD) of 'm' and 'n' using 'math.gcd()' and print the result
print('math.gcd(', m, ',', n, ') → ', math.gcd(m, n), sep='')

In [ ]:
# Compute a square root function

# Step 1: Import the 'math' library
import math

# Step 2: Prompt the user to enter a number 'n' and convert it to a floating-point number
n = float(input('Enter a number: '))

# Step 3: Compute the square root of 'n' using 'math.sqrt()' and print the result
print('math.sqrt(', n, ') → ', math.sqrt(n), sep='')

In [ ]:
# Compute floor and ceil functions

# Step 1: Import the 'math' library
import math

# Step 2: Prompt the user to enter a number with decimal points and convert it to a floating-point number
n = float(input('Enter a number with decimal points: '))

# Step 3: Round the number to the nearest integer using the built-in 'round()' function
print('round(', n, ', 0)   → ', round(n, 0), sep='')

# Step 4: Round the number down to the nearest integer using 'math.floor()'
print('math.floor(', n, ') → ', math.floor(n), sep='')

# Step 5: Round the number up to the nearest integer using 'math.ceil()'
print('math.ceil(', n, ')  → ', math.ceil(n), sep='')

## MODULES - RANDOM

In [ ]:
# The random module provides many commonly used random functions

# Step 1: Import the 'random' module
import random

# Step 2: Initialize randomness (optional)
random.seed()  # You can provide a seed value inside the parentheses if needed

In [ ]:
# Compute a random from 0 to 1 - floating point

# Step 1: Import the 'random' module
import random

# Step 2: Generate and print five random floating-point numbers in the range [0, 1)
for i in range(0, 5):
    print('random.random() →', random.random())

In [ ]:
# Compute a random from a range [m,n) (n is excluded!) - integer
# The randrange() method returns a randomly selected element from the specified range.

# Step 1: Import the 'random' module
import random

# Step 2: Prompt the user to enter a starting number 'm' and an ending number 'n', both as floating-point numbers
m = float(input('Enter a starting number: '))
n = float(input('Enter an ending number: '))

# Step 3: Generate and print five random integers within the range [m, n) using 'random.randrange()'
for i in range(0, 5):
    print('random.randrange(', m, ',', n, ')   → ', random.randrange(m, n), sep='')

# Step 4: Generate and print five random integers within the range [m, n) with a specific step (step = 2)
for i in range(0, 5):
    print('random.randrange(', m, ',', n, ', 2) → ', random.randrange(m, n, 2), sep='')

In [ ]:
# Compute a random from a range [m,n] (n is included!) - integer 
# The randint() method returns an integer number selected element from the specified range.

# Step 1: Import the 'random' module
import random

# Step 2: Prompt the user to enter a starting number 'm' and an ending number 'n', both as floating-point numbers
m = float(input('Enter a starting number: '))
n = float(input('Enter an ending number: '))

# Step 3: Generate and print five random integers within the range [m, n] using 'random.randint()'
for i in range(0, 5):
    print('random.randint(', m, ',', n, ') → ', random.randint(m, n), sep='')

In [ ]:
# Random a floating point number with uniform distribution.

# Step 1: Import the 'random' module
import random

# Step 2: Prompt the user to enter a starting number 'm' and an ending number 'n', both as floating-point numbers
m = float(input('Enter a starting number: '))
n = float(input('Enter an ending number: '))

# Step 3: Generate and print five random floating-point numbers with a uniform distribution within the range [m, n) using 'random.uniform()'
for i in range(0, 5):
    print('random.uniform(', m, ',', n, ') → ', random.uniform(m, n), sep='')

In [ ]:
# Random a floating point number with gaussian distribution.

# Step 1: Import the 'random' module
import random

# Step 2: Prompt the user to enter a mean (mu) and a standard deviation (sigma) as floating-point numbers
mu = float(input('Enter the mean (mu): '))
sigma = float(input('Enter the standard deviation (sigma): '))

# Step 3: Generate and print five random floating-point numbers with a Gaussian distribution
# The 'mu' and 'sigma' values should be used as arguments to 'random.gauss()'
for i in range(0, 5):
    print('random.gauss(', mu, ',', sigma, ') → ', random.gauss(mu, sigma), sep='')

In [ ]:
# Random an item in a string

# Step 1: Import the 'random' module
import random

# Step 2: Define a list of possible pets
possiblePets = ['bat', 'cat', 'dog', 'fish']

# Step 3: Print the list of possible pets
print('possiblePets                =', possiblePets)

# Step 4: Generate and print five random pet names using 'random.choice(possiblePets)'
for i in range(0, 5):
    print('random.choice(possiblePets) →', random.choice(possiblePets))

In [ ]:
# Shuffle the order of items in a string

# Step 1: Import the 'random' module
import random

# Step 2: Define a list of cards
cards = ['Jack', 'Queen', 'King', 'Ace']

# Step 3: Print the original order of cards
print('cards                 =', cards)

# Step 4: Generate and print five shuffled orders of cards using 'random.shuffle(cards)'
for i in range(0, 5):
    random.shuffle(cards)
    print('random.shuffle(cards) →', cards)

## MODULES - STATISTICS

In [ ]:
# https://www.w3schools.com/python/module_statistics.asp

# Python has a built-in module that you can use to calculate mathematical statistics of numeric data.

In [ ]:
# Mean

# Step 1: Import the 'statistics' module
import statistics

# Step 2: Define a list of values
x = [1, 2, 3, 4, 5, 6]

# Step 3: Print the list of values
print('x                  =', x)

# Step 4: Calculate and print the mean of the list using 'statistics.mean(x)'
print('statistics.mean(x) →', statistics.mean(x))

In [ ]:
# Median

# Step 1: Import the 'statistics' module
import statistics

# Step 2: Define a list of values
x = [1, 2, 3, 4, 5, 6]

# Step 3: Print the list of values
print('x                    =', x)

# Step 4: Calculate and print the median of the list using 'statistics.median(x)'
print('statistics.median(x) →', statistics.median(x))

In [ ]:
# Variance

# Step 1: Import the 'statistics' module
import statistics

# Step 2: Define a list of values
x = [1, 2, 3, 4, 5, 6]

# Step 3: Print the list of values
print('x                      =', x)

# Step 4: Calculate and print the variance of the list using 'statistics.variance(x)'
print('statistics.variance(x) →', statistics.variance(x))

In [ ]:
# Standard deviation

# Step 1: Import the 'statistics' module
import statistics

# Step 2: Define a list of values
x = [1, 2, 3, 4, 5, 6]

# Step 3: Print the list of values
print('x                      =', x)

# Step 4: Calculate and print the variance of the list using 'statistics.variance(x)'
print('statistics.variance(x) →', statistics.variance(x))

## MODULES - DATE & TIME

In [ ]:
# https://www.w3schools.com/python/python_datetime.asp

# A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

In [ ]:
# Show a current date, time, year, month, day, hour, minute, second, microsecond

# Step 1: Import the 'datetime' module
from datetime import datetime

# Step 2: Get the current date and time
now = datetime.now()

# Step 3: Print individual components
print('Date         =', now.date())          # Print the current date
print('Time         =', now.time())          # Print the current time
print('Year         =', now.year)            # Print the current year
print('Month        =', now.month)           # Print the current month
print('Day          =', now.day)             # Print the current day of the month
print('Hour         =', now.hour)            # Print the current hour
print('Minute       =', now.minute)          # Print the current minute
print('Second       =', now.second)          # Print the current second
print('Micro Second =', now.microsecond)     # Print the current microsecond

## MODULES - FILE AND URL

## Assignment

In [5]:
# Open file from the URL

# Step 1: Import the 'urllib' library
import urllib

# Step 2: Specify the URL of the file to be opened
url = "https://piyabute.com/data/research/iris.data.csv"

# Step 3: Open the file from the URL
file = urllib.request.urlopen(url)

# Step 4: Iterate through each line of the file
for line in file:
    # Step 5: Decode each line from bytes to a UTF-8 string
    decoded_line = line.decode("utf-8")
    
    # Step 6: Print each decoded line
    print(decoded_line)

5.1,3.5,1.4,0.2,Iris-setosa

4.9,3.0,1.4,0.2,Iris-setosa

4.7,3.2,1.3,0.2,Iris-setosa

4.6,3.1,1.5,0.2,Iris-setosa

5.0,3.6,1.4,0.2,Iris-setosa

5.4,3.9,1.7,0.4,Iris-setosa

4.6,3.4,1.4,0.3,Iris-setosa

5.0,3.4,1.5,0.2,Iris-setosa

4.4,2.9,1.4,0.2,Iris-setosa

4.9,3.1,1.5,0.1,Iris-setosa

5.4,3.7,1.5,0.2,Iris-setosa

4.8,3.4,1.6,0.2,Iris-setosa

4.8,3.0,1.4,0.1,Iris-setosa

4.3,3.0,1.1,0.1,Iris-setosa

5.8,4.0,1.2,0.2,Iris-setosa

5.7,4.4,1.5,0.4,Iris-setosa

5.4,3.9,1.3,0.4,Iris-setosa

5.1,3.5,1.4,0.3,Iris-setosa

5.7,3.8,1.7,0.3,Iris-setosa

5.1,3.8,1.5,0.3,Iris-setosa

5.4,3.4,1.7,0.2,Iris-setosa

5.1,3.7,1.5,0.4,Iris-setosa

4.6,3.6,1.0,0.2,Iris-setosa

5.1,3.3,1.7,0.5,Iris-setosa

4.8,3.4,1.9,0.2,Iris-setosa

5.0,3.0,1.6,0.2,Iris-setosa

5.0,3.4,1.6,0.4,Iris-setosa

5.2,3.5,1.5,0.2,Iris-setosa

5.2,3.4,1.4,0.2,Iris-setosa

4.7,3.2,1.6,0.2,Iris-setosa

4.8,3.1,1.6,0.2,Iris-setosa

5.4,3.4,1.5,0.4,Iris-setosa

5.2,4.1,1.5,0.1,Iris-setosa

5.5,4.2,1.4,0.2,Iris-setosa

4.9,3.1,1.5,0.1,Iris-setosa

5.0,3.2,1.2,0.2,Iris-setosa

5.5,3.5,1.3,0.2,Iris-setosa

4.9,3.1,1.5,0.1,Iris-setosa

4.4,3.0,1.3,0.2,Iris-setosa

5.1,3.4,1.5,0.2,Iris-setosa

5.0,3.5,1.3,0.3,Iris-setosa

4.5,2.3,1.3,0.3,Iris-setosa

4.4,3.2,1.3,0.2,Iris-setosa

5.0,3.5,1.6,0.6,Iris-setosa

5.1,3.8,1.9,0.4,Iris-setosa

4.8,3.0,1.4,0.3,Iris-setosa

5.1,3.8,1.6,0.2,Iris-setosa

4.6,3.2,1.4,0.2,Iris-setosa

5.3,3.7,1.5,0.2,Iris-setosa

5.0,3.3,1.4,0.2,Iris-setosa

7.0,3.2,4.7,1.4,Iris-versicolor

6.4,3.2,4.5,1.5,Iris-versicolor

6.9,3.1,4.9,1.5,Iris-versicolor

5.5,2.3,4.0,1.3,Iris-versicolor

6.5,2.8,4.6,1.5,Iris-versicolor

5.7,2.8,4.5,1.3,Iris-versicolor

6.3,3.3,4.7,1.6,Iris-versicolor

4.9,2.4,3.3,1.0,Iris-versicolor

6.6,2.9,4.6,1.3,Iris-versicolor

5.2,2.7,3.9,1.4,Iris-versicolor

5.0,2.0,3.5,1.0,Iris-versicolor

5.9,3.0,4.2,1.5,Iris-versicolor

6.0,2.2,4.0,1.0,Iris-versicolor

6.1,2.9,4.7,1.4,Iris-versicolor

5.6,2.9,3.6,1.3,Iris-versicolor

6.7,3.1,4.4,1.4,Iris-versicolor

5.6,3.0,4.5,1.5,Iris-versicolor

5.8,2.7,4.1,1.0,Iris-versicolor

6.2,2.2,4.5,1.5,Iris-versicolor

5.6,2.5,3.9,1.1,Iris-versicolor

5.9,3.2,4.8,1.8,Iris-versicolor

6.1,2.8,4.0,1.3,Iris-versicolor

6.3,2.5,4.9,1.5,Iris-versicolor

6.1,2.8,4.7,1.2,Iris-versicolor

6.4,2.9,4.3,1.3,Iris-versicolor

6.6,3.0,4.4,1.4,Iris-versicolor

6.8,2.8,4.8,1.4,Iris-versicolor

6.7,3.0,5.0,1.7,Iris-versicolor

6.0,2.9,4.5,1.5,Iris-versicolor

5.7,2.6,3.5,1.0,Iris-versicolor

5.5,2.4,3.8,1.1,Iris-versicolor

5.5,2.4,3.7,1.0,Iris-versicolor

5.8,2.7,3.9,1.2,Iris-versicolor

6.0,2.7,5.1,1.6,Iris-versicolor

5.4,3.0,4.5,1.5,Iris-versicolor

6.0,3.4,4.5,1.6,Iris-versicolor

6.7,3.1,4.7,1.5,Iris-versicolor

6.3,2.3,4.4,1.3,Iris-versicolor

5.6,3.0,4.1,1.3,Iris-versicolor

5.5,2.5,4.0,1.3,Iris-versicolor

5.5,2.6,4.4,1.2,Iris-versicolor

6.1,3.0,4.6,1.4,Iris-versicolor

5.8,2.6,4.0,1.2,Iris-versicolor

5.0,2.3,3.3,1.0,Iris-versicolor

5.6,2.7,4.2,1.3,Iris-versicolor

5.7,3.0,4.2,1.2,Iris-versicolor

5.7,2.9,4.2,1.3,Iris-versicolor

6.2,2.9,4.3,1.3,Iris-versicolor

5.1,2.5,3.0,1.1,Iris-versicolor

5.7,2.8,4.1,1.3,Iris-versicolor

6.3,3.3,6.0,2.5,Iris-virginica

5.8,2.7,5.1,1.9,Iris-virginica

7.1,3.0,5.9,2.1,Iris-virginica

6.3,2.9,5.6,1.8,Iris-virginica

6.5,3.0,5.8,2.2,Iris-virginica

7.6,3.0,6.6,2.1,Iris-virginica

4.9,2.5,4.5,1.7,Iris-virginica

7.3,2.9,6.3,1.8,Iris-virginica

6.7,2.5,5.8,1.8,Iris-virginica

7.2,3.6,6.1,2.5,Iris-virginica

6.5,3.2,5.1,2.0,Iris-virginica

6.4,2.7,5.3,1.9,Iris-virginica

6.8,3.0,5.5,2.1,Iris-virginica

5.7,2.5,5.0,2.0,Iris-virginica

5.8,2.8,5.1,2.4,Iris-virginica

6.4,3.2,5.3,2.3,Iris-virginica

6.5,3.0,5.5,1.8,Iris-virginica

7.7,3.8,6.7,2.2,Iris-virginica

7.7,2.6,6.9,2.3,Iris-virginica

6.0,2.2,5.0,1.5,Iris-virginica

6.9,3.2,5.7,2.3,Iris-virginica

5.6,2.8,4.9,2.0,Iris-virginica

7.7,2.8,6.7,2.0,Iris-virginica

6.3,2.7,4.9,1.8,Iris-virginica

6.7,3.3,5.7,2.1,Iris-virginica

7.2,3.2,6.0,1.8,Iris-virginica

6.2,2.8,4.8,1.8,Iris-virginica

6.1,3.0,4.9,1.8,Iris-virginica

6.4,2.8,5.6,2.1,Iris-virginica

7.2,3.0,5.8,1.6,Iris-virginica

7.4,2.8,6.1,1.9,Iris-virginica

7.9,3.8,6.4,2.0,Iris-virginica

6.4,2.8,5.6,2.2,Iris-virginica

6.3,2.8,5.1,1.5,Iris-virginica

6.1,2.6,5.6,1.4,Iris-virginica

7.7,3.0,6.1,2.3,Iris-virginica

6.3,3.4,5.6,2.4,Iris-virginica

6.4,3.1,5.5,1.8,Iris-virginica

6.0,3.0,4.8,1.8,Iris-virginica

6.9,3.1,5.4,2.1,Iris-virginica

6.7,3.1,5.6,2.4,Iris-virginica

6.9,3.1,5.1,2.3,Iris-virginica

5.8,2.7,5.1,1.9,Iris-virginica

6.8,3.2,5.9,2.3,Iris-virginica

6.7,3.3,5.7,2.5,Iris-virginica

6.7,3.0,5.2,2.3,Iris-virginica

6.3,2.5,5.0,1.9,Iris-virginica

6.5,3.0,5.2,2.0,Iris-virginica

6.2,3.4,5.4,2.3,Iris-virginica

5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
# Open file from a local host

# Step 1: Open the file "exams100.csv" in read mode ("r")
my_file = open("iris.data.csv", "r")

# Step 2: Read the entire content of the file
content = my_file.read()

# Step 3: Print the content of the file
print(content)

# Step 4: Split the content into a list using commas as separators
content_list = content.split(",")

# Step 5: Close the file
my_file.close()

# Step 6: Print the content as a list
print(content_list)

In [ ]:
Importing the Pandas Library

In [7]:
# Importing Pandas Library
import pandas as pd

In [3]:
# Creating a Series
data = [1, 2, 3, 4, 5]                                                  # Sample data
series = pd.Series(data)                                                # Creating a Series
print("Series:\n", series)                                              # Printing the Series

Series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
Basic Data Structures: DataFrame
A DataFrame in Pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a table in a database or a data frame in Excel.

In [9]:
# Creating a DataFrame
data = {                                                                # Sample data
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 22, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [50000, 54000, 50000, 58000, 60000]
}
df = pd.DataFrame(data)                                                 # Creating a DataFrame
print("DataFrame:\n", df)                                               # Printing the DataFrame

DataFrame:
       Name  Age         City  Salary
0    Alice   24     New York   50000
1      Bob   27  Los Angeles   54000
2  Charlie   22      Chicago   50000
3    David   22      Houston   58000
4      Eva   29      Phoenix   60000

In [11]:
# Viewing the first few rows of the DataFrame
print("First few rows:\n", df.head())                                   # Displaying the first few rows

# Viewing the first row of the DataFrame
print("First row:\n", df.head(1))                                       # Displaying the first row

First few rows:
       Name  Age         City  Salary
0    Alice   24     New York   50000
1      Bob   27  Los Angeles   54000
2  Charlie   22      Chicago   50000
3    David   22      Houston   58000
4      Eva   29      Phoenix   60000
First row:
     Name  Age      City  Salary
0  Alice   24  New York   50000

In [13]:
# Viewing the last few rows of the DataFrame
print("Last few rows:\n", df.tail())                                    # Displaying the last few rows

# Viewing the last row of the DataFrame
print("Last row:\n", df.tail(1))                                        # Displaying the last row

Last few rows:
       Name  Age         City  Salary
0    Alice   24     New York   50000
1      Bob   27  Los Angeles   54000
2  Charlie   22      Chicago   50000
3    David   22      Houston   58000
4      Eva   29      Phoenix   60000
Last row:
   Name  Age     City  Salary
4  Eva   29  Phoenix   60000

In [15]:
# Getting summary statistics
print("Summary statistics:\n", df.describe())                           # Displaying summary statistics

Summary statistics:
              Age      Salary
count   5.000000      5.0000
mean   24.800000  54400.0000
std     3.114482   4560.7017
min    22.000000  50000.0000
25%    22.000000  50000.0000
50%    24.000000  54000.0000
75%    27.000000  58000.0000
max    29.000000  60000.0000

In [17]:
# Selecting a single column
print("Selecting the 'Name' column:\n", df['Name'])                     # Selecting the 'Name' column

Selecting the 'Name' column:
 0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object

In [19]:
# Selecting multiple columns
print("Selecting 'Name' and 'Salary' columns:\n", df[['Name', 'Salary']])  # Selecting 'Name' and 'Salary' columns

Selecting 'Name' and 'Salary' columns:
       Name  Salary
0    Alice   50000
1      Bob   54000
2  Charlie   50000
3    David   58000
4      Eva   60000

In [21]:
# Filtering rows based on a condition
print("Filtering rows where Age > 25:\n", df[df['Age'] > 25])           # Filtering rows where Age > 25

Filtering rows where Age > 25:
   Name  Age         City  Salary
1  Bob   27  Los Angeles   54000
4  Eva   29      Phoenix   60000

In [23]:
# Adding a new column
df['Department'] = ['HR', 'Engineering', 'Marketing', 'Finance', 'IT']  # Adding a new 'Department' column
print("DataFrame with new 'Department' column:\n", df)                  # Displaying the updated DataFrame

DataFrame with new 'Department' column:
       Name  Age         City  Salary   Department
0    Alice   24     New York   50000           HR
1      Bob   27  Los Angeles   54000  Engineering
2  Charlie   22      Chicago   50000    Marketing
3    David   22      Houston   58000      Finance
4      Eva   29      Phoenix   60000           IT

In [25]:
# Modifying an existing column
df['Salary'] = df['Salary'] + 5000  # Increasing 'Salary' by 5000
print("DataFrame with updated 'Salary' column:\n", df)                  # Displaying the updated DataFrame

DataFrame with updated 'Salary' column:
       Name  Age         City  Salary   Department
0    Alice   24     New York   55000           HR
1      Bob   27  Los Angeles   59000  Engineering
2  Charlie   22      Chicago   55000    Marketing
3    David   22      Houston   63000      Finance
4      Eva   29      Phoenix   65000           IT

In [27]:
# Deleting a column
df = df.drop(columns=['Department'])                                   # Dropping the 'Department' column
print("DataFrame after dropping 'Department' column:\n", df)           # Displaying the updated DataFrame

DataFrame after dropping 'Department' column:
       Name  Age         City  Salary
0    Alice   24     New York   55000
1      Bob   27  Los Angeles   59000
2  Charlie   22      Chicago   55000
3    David   22      Houston   63000
4      Eva   29      Phoenix   65000

In [ ]:
Handling Missing Data
Handling missing data is an essential part of data cleaning and preprocessing in Pandas. When creating a DataFrame, missing values can be introduced using None, numpy.nan, or pandas.NaT (for datetime types).

In [ ]:
Creating DataFrame with Missing Values
To create a DataFrame with missing values, you can define a dictionary or a list of lists, including None or numpy.nan to represent missing entries. Pandas will interpret these as missing data.

In [29]:
# Creating a DataFrame with missing values
import numpy as np
data = {  # Sample data with missing values
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, np.nan, 22, 32, 29],
    'Salary': [50000, 54000, np.nan, 58000, 60000]
}
df_missing = pd.DataFrame(data)                                        # Creating a DataFrame with missing values
print("DataFrame with missing values:\n", df_missing)                  # Displaying the DataFrame with missing values

DataFrame with missing values:
       Name   Age   Salary
0    Alice  24.0  50000.0
1      Bob   NaN  54000.0
2  Charlie  22.0      NaN
3    David  32.0  58000.0
4      Eva  29.0  60000.0

In [31]:
# Filling missing values
df_missing_filled = df_missing.fillna({'Age': df_missing['Age'].mean(), 'Salary': df_missing['Salary'].mean()})  # Filling missing values with mean
print("DataFrame with filled missing values:\n", df_missing_filled)                                              # Displaying the DataFrame with filled missing values

DataFrame with filled missing values:
       Name    Age   Salary
0    Alice  24.00  50000.0
1      Bob  26.75  54000.0
2  Charlie  22.00  55500.0
3    David  32.00  58000.0
4      Eva  29.00  60000.0

In [33]:
# Dropping rows with missing values
df_missing_dropped = df_missing.dropna()                                           # Dropping rows with missing values
print("DataFrame after dropping rows with missing values:\n", df_missing_dropped)  # Displaying the DataFrame after dropping rows with missing values

DataFrame after dropping rows with missing values:
     Name   Age   Salary
0  Alice  24.0  50000.0
3  David  32.0  58000.0
4    Eva  29.0  60000.0

In [ ]:
Grouping and Aggregating Data
Grouping and aggregating data in Pandas involves combining data into groups based on specific criteria and then performing aggregate functions on these groups. The groupby() method is used to split the data into groups, and aggregation functions like sum(), mean(), count(), and others are applied to these groups

In [35]:
# Grouping data by 'Age' and calculating the average 'Salary'
grouped_df = df.groupby('Age')['Salary'].mean()                        # Grouping by 'Age' and calculating mean 'Salary'
print("Average Salary by Age:\n", grouped_df)                          # Displaying the average Salary by Age

Average Salary by Age:
 Age
22    59000.0
24    55000.0
27    59000.0
29    65000.0
Name: Salary, dtype: float64

In [ ]:
Saving DataFrame to a CSV File
Saving a DataFrame to a CSV file in Pandas is a straightforward process that involves using the to_csv() method. This method allows you to export the contents of a DataFrame into a CSV (Comma-Separated Values) file.

In [41]:
# Saving DataFrame to a CSV file
df.to_csv('data.csv', index=False)                                     # Saving the DataFrame to a CSV file

In [ ]:
Loading DataFrame from a CSV File
Loading a DataFrame from a CSV file in Pandas involves using the read_csv() function. This function reads a CSV file into a DataFrame, allowing you to work with the data in a structured, tabular format.

In [39]:
# Loading DataFrame from a CSV file
loaded_df = pd.read_csv('data.csv')                                   # Loading the DataFrame from a CSV file
print("Loaded DataFrame from CSV file:\n", loaded_df)                 # Displaying the loaded DataFrame

Loaded DataFrame from CSV file:
       Name  Age         City  Salary
0    Alice   24     New York   55000
1      Bob   27  Los Angeles   59000
2  Charlie   22      Chicago   55000
3    David   22      Houston   63000
4      Eva   29      Phoenix   65000

In [ ]:
Practice
The code block below reads sales data from a URL and stores the data in an array. The first row in the dataset defines the attribute names. Your task is to find and display useful information (aggregated data) from this data using Pandas library.

In [43]:
# Step 1: Import the 'urllib' library
import pandas as pd

# Step 2: Specify the URL of the file to be opened
url = "https://piyabute.s3.ap-southeast-1.amazonaws.com/notebook/sales_data_1000.csv"

# Step 3: Read the CSV file from the URL into a pandas DataFrame
data = pd.read_csv(url)

# Step 4: Print the first 5 rows to verify the data
print("First 5 rows of data:")
print(data.head(5))

First 5 rows of data:
   Sales ID  Year  Month  Day  Customer ID   Customer Name  Product ID  \
0         1  2024      5   20         1001     Bob Johnson        2004
1         2  2024     12   21         1001     Bob Johnson        2000
2         3  2024     10   15         1004       Eva Green        2001
3         4  2024      5   14         1003  David Williams        2000
4         5  2024      3    1         1004       Eva Green        2003

  Product Name  Quantity Sold  Unit Price  Total Sales  Salesperson ID  \
0    Product E              9      252.17      2269.53            3001
1    Product A             10      170.01      1700.10            3000
2    Product B              2      290.51       581.02            3003
3    Product A             19      476.19      9047.61            3004
4    Product D              9       64.80       583.20            3004

  Salesperson Name    Province   Channel Payment Method  Discount  Tax (7%)  \
0         Jane Doe  Chiang Mai    Online    Credit Card    646.17    113.64
1        Tom Clark  Chiang Mai    Online           Cash    367.28     93.30
2      Anna Taylor  Udon Thani    Online    Credit Card      7.98     40.11
3      Chris Evans   Khon Kaen  In-store    Credit Card    412.87    604.43
4      Chris Evans  Udon Thani    Online           Cash    157.60     29.79

   Net Sales
0    1737.00
1    1426.12
2     613.15
3    9239.17
4     455.39

In [45]:
# Find the number of unit sold of each product
grouped_df = data.groupby('Product Name')['Quantity Sold'].sum()
print("Total unit sold of each product:\n", grouped_df, sep="")

Total unit sold of each product:
Product Name
Product A    2159
Product B    2354
Product C    1921
Product D    1878
Product E    1847
Name: Quantity Sold, dtype: int64

In [47]:
# Find the total revenue from each province
grouped_df = data.groupby('Province')['Total Sales'].sum()
print("Total sales of each province:\n", grouped_df, sep="")

Total sales of each province:
Province
Bangkok       577810.28
Chiang Mai    519629.38
Khon Kaen     565532.24
Phuket        545518.14
Udon Thani    554957.81
Name: Total Sales, dtype: float64

In [49]:
# Find the number of transaction from each payment type 
grouped_df = data.groupby('Payment Method')['Sales ID'].count()
print("Total number of transactions per payment method:\n", grouped_df, sep="")

Total number of transactions per payment method:
Payment Method
Bank Transfer    323
Cash             345
Credit Card      332
Name: Sales ID, dtype: int64